<section style="display: none !important" data-section-type="collection-template"></section> 
  


<div class="gt_widget-wyVNmUpSikfP77r" data-name="Custom Code">

  <style>
    
.bg-light {
  background-color: #E2E1E1;
  max-width:100%;
  height: auto;
  font-family: georgia;
}
.grid-header {
	padding-top: 4em;
}

.link-above-title{
    text-align: left;
  	color: #e54f4e;
    padding-bottom: 2em;
}
.link-above-title:hover {
  color:white;
}

.link-above-title hr{
  margin-top: 0;
}

.image-with-text {
  display: flex;
  margin-left: 18.5%;
  margin-top: 2em;
  margin-bottom: -29px;
}
.article_header2{
  font-family: lato;
  margin-top: 2em;
}

.header-image-text{
  margin-top: 1em;
}
.header-image-text span{
  font-weight: 600;
}
.grid__item.medium-up--five-sixths.medium-up--push-one-twelfth{
  margin: auto;
    width: 70%;
  margin: 3.5em;
}

.blog-steps-with-links hr:before {
    content: "* * *";
  text-align: center;
}

.content-section {
  margin: auto;
    width: 40%;
    margin-top: 3em;
    margin-left: 25.5em;
  font-family: georgia;
}

.article-content-container{
  font-weight: normal;
  font-size: 19px;
  margin-bottom: 2em;
  font-family: georgia;
}
.blog-steps-with-links{
  background-color: #1E274A;
  padding-bottom: 2em;
}

.question{
  color: white;
  padding-top: 1.5em;
  text-align: center;
}

.blog-steps-with-links hr{
  border-bottom: 0px;
  color: white;
  text-align: center;
  font-size: 25px;
}
.header-content p {
 font-weight: normal;
  font-size: 19px;
}
.blog-steps-with-links ol{
  text-align: center;
  margin-top: -2em;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}

.blog-steps-with-links li{
  margin-top: 1em;
}
.header-content{
  padding-top: 0.8em;
}
.article__title{
 text-align: center;
 max-width: 50%;
 margin: 0 auto;
 margin-left: 425px;
}
.img-round {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-left: 4.3em;
  margin-bottom: 2em;
}
.round-image-name, .round-image-description{
  margin-left: 0.5em;
}
.article_header2{
  max-width: 50%;
    margin: 0 auto;
    margin-left: 425px;
}
.header-content h1{
  padding: 1em 0 1em 0;
}
.header-content h2{
  padding: 1em 0 1em 0;
}
.header-content ul {
  font-size: large;
}
.fotke1 {
  margin-top: 0em;
    width: 500px;
    height: auto;
}
.last {
  font-size: large;
}
.last {
    font-size: large;
    max-width: 80%;
    margin: 0 10%;
    padding-top: 0em;
  	margin-left: 0px;
    text-align: left;
}
@media only screen and (device-width: 375px){
  .button {
    width: 100%
  }
 .article__title{
   margin: 0 10%;
    margin-top: 0;
    max-width: 80%;
    text-align: center;
  }
  .image-with-text {
    display: flex;
    margin-left: -8.5%;
    margin-top: 2em;
    margin-bottom: -2em;
    text-align: center;
  }
  .article_header2{
    margin: 0 10%;
    max-width: 80%;
    text-align: center;
  }
  .content-section{
    width: 100%;
    margin-top: 3.3em;
    margin-left: 0em;
    text-align: left;
    }
  .img-round {
    width: 135px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 4.3em;
    margin-bottom: 2em;
	}
  .header-image-text{
    margin-left: -30px;
  }
  .article-content{
    max-width: 80%;
    margin: 0 10%;
  }
  .blog-steps-with-links{
    max-width: 80%;
    margin: 0 10%;
  }
  .blog-steps-with-links ol {
    text-align: left;
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    padding-left: 10px;
	}
  .header-content {
    max-width: 80%;
    margin: 0 10%;
    padding-top: 0em;
    text-align: left;
	}
  .header-content h1 {
    margin-top: -18px;
	}
  .fotke2 {
  	max-width: 90%;
    margin: 0 5%;
  }
  .last {
    font-size: large;
    max-width: 80%;
    margin: 0 10%;
    padding-top: 0em;
    text-align: left;
}
}

@media only screen and (device-width: 414px) {
  .button {
    width: 100%
  }
.article__title {
    margin: 0 5%;
    margin-top: 0;
    max-width: 90%;
    text-align: center;
	}
  .article_header2 {
    margin: 0 5%;
    max-width: 90%;
    text-align: center;
	}
  .image-with-text {
    display: flex;
    margin-left: -9.5%;
    margin-top: 2em;
    margin-bottom: -2em;
    text-align: center;
    max-width: 100%;
	}
  .img-round {
    width: 160px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 5.9em;
    margin-bottom: 2em;
	}
  .header-image-text {
    margin-left: -6px;
	}
  .content-section {
    width: 100%;
    margin-top: 3.3em;
    margin-left: 0em;
    text-align: left;
	}
  .article-content {
    max-width: 90%;
    margin: 0 5%;
	}
  .blog-steps-with-links {
    max-width: 90%;
    margin: 0 5%;
	}
  .blog-steps-with-links ol {
    text-align: left;
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    padding-left: 10px;
	}
	.header-content {
    max-width: 90%;
    margin: 0 5%;
    padding-top: 0em;
    text-align: left;
	}
  .fotke2 {
    max-width: 90%;
    margin: 0 5%;
	}
  .last {
    font-size: large;
    max-width: 80%;
    margin: 0 10%;
    padding-top: 0em;
    margin-left: 22px;
    text-align: left;
}
  
}

@media only screen and (device-width: 320px) {
  .button {
    width: 100%
  }
  .article__title {
    margin: 0 10%;
    margin-top: 0;
    max-width: 80%;
    text-align: center;
	}
  .article_header2 {
    margin: 0 10%;
    max-width: 80%;
    text-align: center;
	}
  .image-with-text {
    display: flex;
    margin-left: -9.5%;
    margin-top: 2em;
    margin-bottom: -2em;
    text-align: center;
    max-width: 100%;
	}
  .img-round {
    width: 225px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 3.9em;
    margin-bottom: 2em;
	}
  .header-image-text {
    margin-left: -5px;
    margin-top: 5px;
	}
  .content-section {
    width: 100%;
    margin-top: 3.3em;
    margin-left: 0em;
    text-align: left;
	}
  .article-content {
    max-width: 90%;
    margin: 0 5%;
	}
  .blog-steps-with-links {
    max-width: 90%;
    margin: 0 5%;
	}
  .blog-steps-with-links ol {
    text-align: left;
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    padding-left: 10px;
	}
	.header-content {
    max-width: 90%;
    margin: 0 5%;
    padding-top: 0em;
    text-align: left;
	}
  .fotke2 {
    max-width: 90%;
    margin: 0 5%;
	}
  .last {
    font-size: large;
    max-width: 80%;
    margin: 0 10%;
    padding-top: 0em;
    margin-left: 16px;
    text-align: left;
}
}

@media only screen and (device-width: 768px) {
  .button {
    width: 100%
  }
.article__title {
   margin: 0 5%;
    margin-top: 0;
    max-width: 90%;
    text-align: center;
	}
  .article_header2 {
    margin: 0 5%;
    max-width: 90%;
    text-align: center;
	}
  .image-with-text {
   display: flex;
    margin-left: 2.5%;
    margin-top: 2em;
    margin-bottom: -2em;
    text-align: center;
    max-width: 100%;
  }
  .img-round {
    width: 140px;
    height: 125px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 3.9em;
    margin-bottom: 2em;
	}
  .header-image-text {
    margin-left: 17px;
    margin-top: 33px;
    font-size: larger;
	}
  .content-section {
    width: 100%;
    margin-top: 3.3em;
    margin-left: 0em;
    text-align: left;
	}
  .article-content {
    max-width: 90%;
    margin: 0 5%;
    font-size: x-large;
	}
  .blog-steps-with-links {
    max-width: 90%;
    margin: 0 5%;
    font-size: larger;
	}
  .blog-steps-with-links ol {
    text-align: left;
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    font-size: x-large;
    padding-left: 10px;
	}
	.header-content {
    max-width: 90%;
    margin: 0 5%;
    padding-top: 0em;
    text-align: left;
	}
  .header-content p {
    font-weight: normal;
    font-size: x-large;
	}
  .fotke2 {
    max-width: 90%;
    margin: 0 5%;
	}
  .fotke1 {
    padding-left: 39px;
  }
  .last {
    font-size: x-large;
    max-width: 80%;
    margin: 0 10%;
    padding-top: 0em;
    margin-left: 40px;
    text-align: left;
}
}

@media only screen and (device-width: 390px) {
  .button {
    width: 100%
  }
  .article__title{
   margin: 0 10%;
    margin-top: 0;
    max-width: 80%;
    text-align: center;
  }
  .image-with-text {
    display: flex;
    margin-left: -15.5%;
    margin-top: 2em;
    margin-bottom: -2em;
    text-align: center;
  }
  .article_header2{
    margin: 0 10%;
    max-width: 80%;
    text-align: center;
  }
  .content-section{
    width: 100%;
    margin-top: 3.3em;
    margin-left: 0em;
    text-align: left;
    }
  .img-round {
    width: 160px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 6.3em;
    margin-bottom: 2em;
	}
  .header-image-text{
    margin-left: -18px;
  }
  .article-content{
    max-width: 80%;
    margin: 0 10%;
  }
  .blog-steps-with-links{
    max-width: 80%;
    margin: 0 10%;
  }
  .blog-steps-with-links ol {
    text-align: left;
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    padding-left: 10px;
	}
  .header-content {
    max-width: 80%;
    margin: 0 10%;
    padding-top: 0em;
    text-align: left;
	}
  .header-content h1 {
    margin-top: -18px;
	}
  .fotke2 {
  	max-width: 90%;
    margin: 0 5%;
  }
  .last {
    font-size: large;
    max-width: 80%;
    margin: 0 10%;
    padding-top: 0em;
    text-align: left;
}
}


  </style>
  
  <div class="gt_widget_custom_code_inner">
    <div class="bg-light">
  <h1 class="article__title" id="title-0" style="padding-top: 0.6em;">
    Brown Tear Stains On My White Dog - Top 2 Ways to Remove Them
    <hr style="height:2px;border-width:0;color:#e54f4e;background-color:#e54f4e">
  </h1>
  
  <h3 class="article_header2"> 
    Removing tear stains from your dog isn't that hard if you have the right tools and knowledge. In this article, I lay out two best solutions on how to get rid of tear stains.
  </h3>
  <div class="image-with-text">
  <img class="img-round img-small" src="https://cdn.shopify.com/s/files/1/0597/1551/8645/files/founderphoto_2x_a4ed4c90-a16b-47e0-80e4-0ee611d4399f.png?v=1638559890" alt="Janita-JANUS-KAUSKAITE-PLUNGE" data-loaded="true">
    <div class="header-image-text">
      <span class="round-image-name">
        J. Plungė
      </span>
      <div class="round-image-description">
        Professional breeder, cynologist, international category judge
      </div>
    </div>
  </div>
</div>


<div class="content-section">
<div class="article-content-container">
  &nbsp;
	<p class="article-content">
     ~80% of all white dogs have teary eyes. <br><br>

So it makes it a common and nasty problem for white dog owners. <br><br>

Sadly brown tear stains are extremely visible on white dogs. <br><br>

And there are so many suggested solutions online on how to solve the brown tear stain problem. <br><br>

How do you know which one is the best? <br><br>

After facing this problem for 30 years, we have finally found a logical, affordable, and truly working solution to the brown tear stain problem.
      <br>
      <br>
By taking a quiz we will choose you the right food! <br>
  </p>
</div>
<div class="blog-steps-with-links">
    <div>
        <h2 class="question" style="color: white;padding-top: 0.5em;">
          Brown Tear Stains. Why They Occur?</h2>
        <hr>
    </div>
    <div>
        <ol>
            
            <u><li><a class="c-coral" href="#simple" style=" color: white; ">Simple explanation</a></li></u>
            
           <u><li><a class="c-coral" href="#what_are_the" style=" color: white; ">What are the causes for teary eyes?</a></li></u>
            
            <u><li><a class="c-coral" href="#top" style=" color: white; ">Top 2 solutions for brown tear stains</a></li></u>
            
            <u><li><a class="c-coral" href="#how-to" style=" color: white; ">How to figure out what type of food is the best?</a></li></u>
            
            <u><li><a class="c-coral" href="#types" style=" color: white; ">Types of dog food to consider</a></li></u>
            
            <u><li><a class="c-coral" href="#what_you" style=" color: white; ">What you should look for when choosing dog feed?</a></li></u>
            
            <u><li><a class="c-coral" href="#ingredients" style=" color: white; ">What ingredients you should avoid?</a></li></u>
            
            <u><li><a class="c-coral" href="#created" style=" color: white; ">We have created a perfect white dog food for brown stain problem</a></li></u>
            
        </ol>
    </div>
</div>
  <div class="header-content">
    <h2 class="simple">Simple explanation: </h2>
    <p>The crust is caused by dried-up tears and mucus that builds upon the fur around their eyes.<br><br>

The tears cause red-brown tear stains that are extremely visible on white dogs. </p>
    <br>
    <p><b>Science behind it: </b></p><br>
    <p>When the dog's body breaks down red blood cells - a naturally occurring porphyrin molecule remains as a waste product.<br><br>

Porphyrins are usually excreted via the digestive system but in dogs, they are also removed from the body in urine, saliva and tears. <br><br>

Porphyrin molecules, found in dog tears, are rich in iron. <br><br>

When exposed to oxygen, the porphyrin molecules dry and leave behind a rust-coloured stain. <br><br>

Thus leaving your dog with reddish-brown tear stains around the eyes. </p>
    <h2 class="what_are_the">What are the causes for teary eyes?</h2>
    <br>
    <p><b>There are 3 main categories:</b></p><br>
     <p>
1. Medical causes
       <br>
2. Mechanical causes (due to the dog's body construction) <br>
3. Other causes like diet or allergies </p>
     <br><p><b>Medical causes:</b></p><br>
     <p><b>Glaucoma</b> – a serious condition that causes a build-up of pressure in the eye and can damage the optic nerve.<br>
       <b>Eye infection</b> – infections by bacteria, viruses or parasites can cause a discharge from the eye. <br>
       <b>Conjunctivitis</b> – inflammation in the eye's lining can cause mucus, pus or discharge. <br>
       <b>Ear infection</b> – may cause the eye on the same side of the head to tear more than is usual. <br>
       <b>Ingrown eyelashes</b> – these can rub against the surface of the eye, causing irritation and damage. <br>
       <b>Entropion</b> – a condition where the eyelid rolls in, causing the eyelashes to rub against the eye and causing irritation. <br>
    </p>
     <br><p><b>Mechanical causes: </b></p><br>
    <p><b>Large tear glands</b> – larger glands produce larger volumes of tears. <br>
      <b>Small tear duct openings</b> – each eye has a tube running from the eye into the nasal cavity to drain the excess tears via the nose. Small openings to these ducts reduce their effectiveness and the excess spills over into the hair. <br>
      <b>Blocked tear ducts</b> – as for small duct openings, blocked ducts cannot remove the excess liquid from the eye. Some breeds of dog such as Poodles and Cocker Spaniels have a tendency for the drainage holes not to develop properly. <br>
      <b> Scarring </b>– if there has been previous infection or eye damage, tear drainage may reduce. <br>
Hair around the eyes – if hair keeps getting into the eyes, it can wick the tears away, drawing the moisture from the eye and down to the skin. <br>
      <b>Shallow eye sockets</b> – particularly in brachycephalic dogs (breeds with short muzzles such as Pugs, French Bulldogs or Pekingese), eyes can bulge and protrude, sometimes so much that the eyelids never close completely, even when sleeping. </p>
     <br><p><b>Other causes: </b></p><br>
    <p><b>Irritant exposure</b> – irritants like dust or smoke can cause the eye to water attempting to remove the irritating substance. <br>
      <b>Allergies</b> – allergic reactions can cause the eye to water excessively. These allergies can be seasonal, something in the environment or a reaction to the dog's food. <br>
      <b>Teething</b> – when puppies are teething, they produce more tears and tear stains may become apparent. It is a good idea to have your vet check that there are no other issues causing the tears but, once they have finished teething, the problem often goes away. <br>

      <b>Poor diet and stress</b> – Anxiety and stress can cause a number of issues. A poor-quality diet filled with unsuitable or indigestible ingredients places stress on the dog's body. Cheap, low-quality foods might be a biggest cause for brown tear stains. </p>
     <h2 class="top">Top 2 solutions for brown tear stains </h2>
    <p>There are many tips given in various places on how to get rid of dog tear stains, but often include substances that may cause more harm than good.<br><br>

And let's be honest, most tips suck and don't work. <br><br>

First of all, you have to be aware of which condition your dog is in right now. If it's a medical condition, you should contact your vet. <br><br>

From our experience, there are 2 best solutions which is working for 80-90% of dogs with brown tear stain problems. <br><br>

There is one quick and one long-term solution you can apply now. </p>
    <br><p><b>Quick solution: </b></p><br>
    <p>To stop the staining and build-up of crust you should consistently clean your dog's undereye fur. <br><br>

Since the stains are caused by tears, it would make sense that cleaning the fur is the solution. <br><br>

Use thin-toothed combs with rounded teeth that are made for this exact job. <br><br>

Every couple of days heat a little bowl of water and use it to soften the fur around your dog's eyes. <br><br>

Make sure the water is at a safe temperature. <br><br>

When the fur is softened and the crust is loosened, gently comb the fur.
Do this procedure quite consistently for several weeks and you will see a difference. </p>
    <br><p><b>Long-term solution (recommended):</b></p><br>
    <p>Change your dog's diet. <br><br>

You have to understand what causes the tears to form in the first place. <br><br>

And mostly it's due to the food you feed your dog.<br><br>

Treating and improving the health of your dog's hair (thus skin) largely comes down to feeding them a good quality diet. </p>
<div data-label="Button" data-key="button" data-atomgroup="element" id="e-1645615519153" class="element-wrap" data-icon="gpicon-gpicon-button" data-ver="1.0" data-id="1645615519153"><div class="elm gf-elm-center gf-elm-center-xs" data-stretch-xs="0"><a class="button btn gf_button" href="https://whitedogclubusa.com/products/tauro-pro-line-pet-care-and-dry-feed-set-white-coat-3x1-59-fl-oz-np-sc-white-dogs-grain-free-white-fish-3-31-lbs" target="" data-scroll-speed-xs="2000" data-exc="" data-preorder-handle="tauro-pro-line-pet-care-and-dry-feed-set-white-coat-3x1-59-fl-oz-np-sc-white-dogs-grain-free-white-fish-3-31-lbs"><span>Limited Time Offer</span></a></div></div>
    <h2 class="how-to">How to figure out what type of food is the best?</h2>
    <p><b>Through ingredient list.</b>

This will help you determine if the formula is vegetable-based with things like corn and rice or meat-based with chicken, fish, or lamb.<br><br>

Each dog is different, but they generally do best on a protein-rich, meat or fish-based diet.<br><br>

It's very important to watch out for what type of meat is within. Meat, bone meal or meat byproducts could come from any animal and a lot of companies don't use high-quality meat.<br><br>

Also, you have to be aware if your dog has allergies to chicken or other meat. If yes, then you should look for feed with fish. </p>
    <h2 class="types">Types of dog food to consider: </h2>
    <p><b>Organic dog food </b></p><br>
    <p> While buzzwords like "natural" aren't regulated, there are some solid takeaways you get with an "organic" label.<br><br>

With that tag, your dog food is certified to be free of antibiotics, synthetic hormones, toxic pesticides and preservatives.<br><br>

And per the certification, its ingredients can't be genetically engineered, grown in chemical fertilizer or irradiated.</p>
    <br><p><b>Dry dog food versus wet or canned dog food </b></p><br>
    <p> The amount of water in wet food makes it an unwise investment so you should go with dry food. <br><br>

Dry food (or kibble) is less messy and more affordable compared to the other options.<br><br>

However, kibble typically includes less meat and often includes some sort of grain or other harmful ingredients - be careful and read ingredients.

 </p>
    <h2 class="what_you">What you should look for when choosing dog feed? </h2>
    <p>While ingredients are important, what you really want to determine is whether the food contains the nutrients your dog needs to be healthy, not necessarily if it does or does not contain grains.<br><br>

To ensure you're buying high-quality food, look for the nutrition adequacy statement.<br><br>

You should be able to find the statement — which the FDA considers "one of the most important aspects of a dog or cat food label" — on the back label (in small font).<br><br>

It will provide many helpful details about the dog food, including profile information on the type and age of dogs it's best for. </p>
    <h2 class="ingredients">What ingredients you should avoid? </h2>
    <p><b>You should always avoid those ingredients in your dogs food: </b></p><br>
    <ul>
      <li>Low quality meat </li>
<li>Grains/gluten (causes inflammation)</li>
<li>Sugar and high salt (which could be used as preservatives)</li>
<li>Dyes (dogs do not care what color their food is)</li>
<li>Other solvents and preservatives like propylene glycol, BHA, BHT and ethoxyquin.</li>
    </ul>
    <h2 class="created">We have created a perfect white dog food for brown stain problem </h2>
    <p> When everybody said it is impossible, we kept trying and we have created a perfect product, which now helps over million pets all over the world to fight against brown tear stains and stay in perfect shape.<br><br>

Our breeders together with veterinary and animal nutrition experts have put their research and manufacturing technologies to work in order to alleviate problems of white and light hair dogs.<br><br>

Due to their hair colour, skin condition and immune response, these dogs require tailor-made solutions, which can be provided through state of the art nutrition.<br><br>

After 30 years of experience breeding and raising white dogs, we can proudly present the unique outcome of our work: <a href="https://whitedogclubusa.com/products/natures-protection-superior-care-white-dogs-grain-free-white-fish-adult-small-and-mini-breeds-food-for-adult-small-and-mini-breed-dogs" style="text-decoration: underline;">this complete feed.</a></p><br>
  </div>
  <div class="last">
    &nbsp;
  </div>
<a href="https://whitedogclubusa.com/products/natures-protection-superior-care-white-dogs-grain-free-white-fish-adult-small-and-mini-breeds-food-for-adult-small-and-mini-breed-dogs"><img class="fotke2" src="//cdn.shopify.com/s/files/1/0597/1551/8645/products/273815144_981155622780280_7126316077749173140_n_884x.png?v=1644931769"></a>
</div>
  </div>
  <div style="clear: both;"></div>
</div>

<section class="gt_section-qwEBV9D3Ode9tAW " data-name="Article" style="padding-top: 0px; margin-bottom: -40px;">
 <div class="gf_container">
  <div class="article_page">
 
          <div class="bg-light1">
  
            
             <div>
            
            <div class="aricle_body gt_mt--medium" style="padding: 0px 5%;">
                
                <div class="gt_mb--medium gt_box-desc content_article">
                    {{ article.content }}
                </div>
                {% if article.tags.size > 0 %}
                <ul class="gt_mb--small list_tags">
                    {% for tag in article.tags %}
                    <li>
                        <a class="tag" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="gt_flex gt_flex-wrap icon_social" style="margin-left: -70px;">
                  
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://{{shop.domain}}{{ article.url }}" target="_blank">
                        <div class="gt_flex icon_content">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0C0.895431 0 0 0.89543 0 2V13C0 14.1046 0.89543 15 2 15H6.49451V9.17226H5.08691V7.05287H6.49451V5.38539C6.49451 3.81801 7.40294 3 9.42752 3H11.2878V5.17374H9.82127C9.3097 5.17374 9.20119 5.36823 9.20119 5.86018V7.05287H11.2878L11.0894 9.14652H9.20119V15H13C14.1046 15 15 14.1046 15 13V2C15 0.895431 14.1046 0 13 0H2Z" fill="#3B5A9B"></path>
                            </svg>
                            <span class="gt_text--small">
                              Share
                            </span>
                        </div>
                    </a>
                   
                   
                    <a href="http://pinterest.com/pin/create/link/?url=https://{{shop.domain}}{{ article.url }}">
                        <div class="gt_flex icon_content">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M8.00012 -5.80126e-05C6.16306 -0.000306638 4.38189 0.631675 2.95583 1.78971C1.52978 2.94775 0.545742 4.56129 0.169037 6.35924C-0.207668 8.15719 0.0459147 10.03 0.887182 11.6631C1.72845 13.2961 3.10614 14.5899 4.78881 15.327C4.76606 14.7684 4.78472 14.0978 4.92817 13.4902C5.08212 12.8406 5.9574 9.13089 5.9574 9.13089C5.78362 8.73174 5.69656 8.30025 5.70199 7.86495C5.70199 6.67949 6.38892 5.79432 7.24496 5.79432C7.97213 5.79432 8.32376 6.3407 8.32376 6.99553C8.32376 7.72675 7.85725 8.82067 7.61758 9.83412C7.41699 10.6831 8.04269 11.3753 8.88007 11.3753C10.3962 11.3753 11.4167 9.42827 11.4167 7.12207C11.4167 5.36865 10.2358 4.05607 8.08817 4.05607C5.66117 4.05607 4.14911 5.86371 4.14911 7.88711C4.14911 8.58684 4.35495 9.07549 4.67393 9.45626C4.82204 9.6312 4.84245 9.70117 4.79055 9.90234C4.75207 10.0493 4.66401 10.4038 4.62728 10.5438C4.57421 10.7461 4.41035 10.8184 4.22725 10.7438C3.10938 10.2878 2.58864 9.06325 2.58864 7.68769C2.58864 5.41355 4.5054 2.68984 8.30626 2.68984C11.3607 2.68984 13.3708 4.90041 13.3708 7.27251C13.3708 10.4108 11.626 12.7538 9.05559 12.7538C8.19197 12.7538 7.37966 12.2873 7.10093 11.7566C7.10093 11.7566 6.63442 13.5999 6.5382 13.9556C6.36851 14.5725 6.03671 15.1888 5.7329 15.6693C6.83351 15.9956 7.99146 16.0813 9.1281 15.9204C10.2647 15.7596 11.3535 15.356 12.3203 14.7371C13.2871 14.1182 14.1094 13.2984 14.7313 12.3336C15.3533 11.3687 15.7602 10.2813 15.9246 9.14516C16.089 8.00907 16.007 6.8509 15.684 5.74932C15.3611 4.64774 14.8049 3.62857 14.0531 2.76101C13.3014 1.89346 12.3717 1.19785 11.3273 0.72143C10.2828 0.245011 9.14809 -0.00105584 8.00012 -5.80126e-05Z" fill="#CB2027"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="16" height="16" fill="white"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                            <span class="gt_text--small">
                               PIN IT
                            </span>
                        </div>
                    </a>
                    
                    
                    <a href="https://twitter.com/share?url=https://{{shop.domain}}{{ article.url }}" target="_blank">
                        <div class="gt_flex icon_content">
                            <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 10.0941C1.49341 10.9399 3.2324 11.3896 5.00893 11.3893C11.0864 11.3893 14.5175 6.87611 14.3088 2.82887C14.9506 2.42318 15.5048 1.91991 15.9451 1.3428C15.3464 1.57421 14.712 1.7263 14.0626 1.79413C14.7491 1.43526 15.2638 0.869308 15.511 0.20165C14.8654 0.53732 14.1597 0.774293 13.4239 0.902486C12.9305 0.442801 12.2786 0.138747 11.569 0.0373029C10.8593 -0.0641412 10.1315 0.0426713 9.49777 0.341237C8.86409 0.639802 8.3599 1.1135 8.06309 1.68914C7.76629 2.26479 7.69339 2.91033 7.85567 3.52604C6.55411 3.4686 5.28088 3.17101 4.11875 2.65263C2.95661 2.13425 1.93159 1.40668 1.11031 0.51721C0.692832 1.15108 0.565341 1.90083 0.753715 2.61431C0.942089 3.32779 1.43221 3.95154 2.12462 4.35897C1.60297 4.34327 1.09328 4.21742 0.638638 3.99204C0.63007 4.66248 0.887501 5.3146 1.36666 5.83627C1.84583 6.35793 2.51678 6.71654 3.26415 6.85042C2.78233 6.96599 2.27668 6.98231 1.78652 6.89812C1.99652 7.4698 2.40411 7.96968 2.95253 8.32812C3.50095 8.68657 4.16288 8.88574 4.84614 8.89789C4.16746 9.36751 3.3901 9.71488 2.55855 9.92014C1.727 10.1254 0.857566 10.1845 0 10.0941H0Z" fill="#1F9FF5"></path>
                            </svg>
                            <span class="gt_text--small">
                               TWEET
                            </span>
                        </div>
                    </a>
                    
                </div>
                <div class="paging gt_mt--large" style="margin-top: -30px;">
                    <a href="{{ blog.previous_article }}">
                      
                    </a>
                    <a href="{{ blog.url }}">
                      
                    </a>
                    <a href="{{ blog.next_article }}">
                      
                    </a>
                </div>
                  {%- assign new_comment = false -%}
                  {%- if comment and comment.created_at -%}
                    {%- assign new_comment = true -%}
                    {%- assign new_comment_id = comment.id -%}
                  {%- endif -%}

                  {%- if new_comment -%}
                    {%- assign duplicate_comment = false -%}
                    {%- for comment in article.comments -%}
                      {%- if comment.id == new_comment_id -%}
                        {%- assign duplicate_comment = true -%}
                        {% break %}
                      {%- endif -%}
                    {%- endfor -%}

                    {%- if duplicate_comment -%}
                      {%- assign number_of_comments = article.comments_count -%}
                    {%- else -%}
                      {%- assign number_of_comments = article.comments_count | plus: 1 -%}
                    {%- endif -%}
                    {%- else -%}
                      {%- assign number_of_comments = article.comments_count -%}
                  {%- endif -%}

                  

                  {%- if blog.comments_enabled? -%}
                    {%- if number_of_comments > 0 -%}
                      <hr aria-hidden="true">
                      <h4>{{ article.comments_count }} comment</h4>
                      <ul>

                        
                        {%- if new_comment -%}
                          <li class="gt_comment_item">
                            <div class="gt_comment_content">
                              {{ comment.content }}
                            </div>
                            <span class="gt_comment_author">- {{ comment.author }} posted </span>
                              <span class="gt_comment_time">  {{ comment.created_at | date: "%b %d, %Y" }}</span>
                          </li>
                        {%- endif -%}

                        {% for comment in article.comments %}
                          {% unless comment.id == new_comment_id %}
                            <li class="gt_comment_item">
                              <div class="gt_comment_content">
                                {{ comment.content }}
                              </div>
                              <span class="gt_comment_author">- {{ comment.author }} posted</span>
                                <span class="gt_comment_time"> {{ comment.created_at | date: "%b %d, %Y" }}</span>
                            </li>
                          {% endunless %}
                        {% endfor %}

                      </ul>
                    {%- endif -%}
                  {%- endif -%}

                <div class="comment gt_mt--large" style="margin-top: 20px;">
                  
                  {% if article.comments_enabled? %}
                  
                    <h4 class="gt_subheading gt_mb--medium h4_comment">
                      Leave a Comment
                    </h4>

                    <div class="form_comment">
                        
                        {% form article %}
                            {% if form.posted_successfully? %}
                                {% if article.moderated? %}
                                    <p class="gt_comment_noti">Your comment has been added and will be published as soon as possible.</p>
                                {% else %}
                                    <p class="gt_comment_noti">Your comment has been added.</p>
                                {% endif %}
                            {% endif %}

                            {% if form.errors %}
                                <p>Error, please enter all fields.</p>
                            {% endif %}
                            <div class="gt_mb--medium">
                              <div class="gt_flex gt_flex-md-column gt_flex-wrap group_comment">
                                <div class="gt_comment_input">
                                  <div for="comment_author" class="gt_mb--extra-small {% if form.errors contains 'author' %}error{% endif %}">Name</div>
                                  <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" class="gt_mb--small gt_input field{% if form.errors contains "author" %} error{% endif %}">
                                </div>

                                <div class="gt_comment_input">
                                  <div for="comment_email" class="gt_mb--extra-small {% if form.errors contains 'email' %}error{% endif %}">
                                    Email
                                  </div>
                                  <input type="text" id="comment_email" name="comment[email]" value="{{ form.email }}" class="gt_mb--small gt_input field{% if form.errors contains "email" %} error{% endif %}">
                                </div>
                              </div>

                              <div for="comment_email" class="gt_mb--extra-small {% if form.errors contains 'body' %}error{% endif %}">
                                Comments
                              </div>
                              <div class="line_comment">
                              <textarea id="comment_body" name="comment[body]" {% if form.errors contains "body" %} class="gt_input error" {% endif %}>{{ form.body }}</textarea>
                              </div>
                            </div>
                            <div class="button_post gt_mt--medium">
                              <button type="submit" class="gt_button--large button comment submit">POST COMMENT</button>
                            </div>
                        {% endform %}

                      
                    </div>
                  
                  {% endif %}
                  
                </div>
            </div>
        </div>
    </div>
    <script type="application/ld+json">{%- assign schemaArticle = article -%}
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{% if schemaArticle.content %}{{ schemaArticle.content | strip_html | escape }}{% endif %}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ schemaArticle.title | escape}}",
  {% if schemaArticle.excerpt != blank %}
    "description": "{% if schemaArticle.excerpt %}{{ schemaArticle.excerpt | strip_html | escape }}{% endif %}",
  {% endif %}
  {% if schemaArticle.image %}
    {% assign image_size = schemaArticle.image.width | append: 'x' %}
    "image": [
      "https:{{ schemaArticle | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ schemaArticle.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ schemaArticle.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ schemaArticle.author | escape }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif schemaArticle.image %}
      {% assign image_size = schemaArticle.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ schemaArticle.image.height }}",
        "url": "https:{{ schemaArticle.image | img_url: image_size }}",
        "width": "{{ schemaArticle.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name | escape }}"
  }
}
</script>
  </div></div></section>


   
  
{% comment %}
You SHOULD NOT modify source code in this page because
It is automatically generated from EcomSolid
Try to edit page with the live editor.
{% endcomment %}

  