{%- form 'customer', class: 't4s-newsletter__form subscribe-form', id: 'form_id1', data-form-mail-agree: '' -%}
  {% if form.posted_successfully? %}
    <div class="form-status form-status--success" tabindex="-1" autofocus>
      {% render 'icon-success' %}
      {{ 'templates.contact.form.post_success' | t }}
    </div>
  {%- elsif form.errors -%}
    <div class="form-status form-status--error" tabindex="-1" autofocus>
      {% render 'icon-error' %}
      {{ 'templates.contact.form.error_heading' | t }}
    </div>
  {% endif %}
  <input type="hidden" name="contact[tags]" value="newsletter">
  <div class="t4s-newsletter__fields">
    <div class="t4s-newsletter__inner t4s-row t4s-g-0 t4s-pr {{class}}">
      <div class="{{class_email}} t4s-col-item is--col-email subscribe-field">
        {% render 'icon-mail' %}
        <input
          type="email"
          name="contact[email]"
          placeholder="Enter your email"
          value="{% if customer %}{{ customer.email }}{% endif %}"
          class="{{class_ip}} t4s-newsletter__email"
          required="required"
        >
        <button
          data-agreeMail-btn
          type="submit"
          class="t4s-w-100 t4s-newsletter__submit t4s-truncate t4s-btn-loading__svg btn"
        >
          {{- 'sections.newsletter_form.submit' | t -}}
        </button>
      </div>

      {{- conditions_mail- }}
    </div>
  </div>
{%- endform -%}
