      <!--Stamped - Begin Main Widget -->
      <div id="stamped-main-widget"
      data-widget-style="standard"
      data-product-id="{{ product.id }}"
      data-name="{{ product.title | escape }}"
      data-url="{{ shop.url }}{{ product.url }}"
      data-image-url="{{ product.featured_image }}"
      data-description="{{ product.description | escape }}"
      data-product-sku="{{product.handle}}"
      data-widget-type="minimal"
      data-widget-language="{{ language }}"></div>
      <!-- Stamped - End Main Widget -->