{{ 'about-info.css' | asset_url | stylesheet_tag }}
{% assign menu = linklists[section.settings.menu] %}
<div class='container'>
  {%- if menu != blank -%}
    <nav class='about-menu'>
      <ul>
        {%- for link in menu.links -%}
          <li>
            <a href='{{ link.url }}' class='{% if link.active %}active{% endif %}'>
              {{- link.title -}}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  {%- endif -%}
  <div class='mob-content'>
    <button class='mob'>
      <span></span>
    </button>
    {%- if menu != blank -%}
      <nav class='about-menu--mobile'>
        <ul>
          {%- for link in menu.links -%}
            <li>
              <h3>
                <a href='{{ link.url }}' class='{% if link.active %}active{% endif %} h3'>
                  {{- link.title -}}
                </a>
              </h3>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}
  </div>
  <div class='rte'>
    {{ page.content }}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    $('.about-menu--mobile').hide() // ?
    $('.mob').on('click', function() {
      $('.about-menu--mobile').slideToggle()
      $('.mob span').toggleClass('active')
    })
  })
</script>
{% schema %}
  {
    "name": "About Info",
    "tag": "section",
    "class": "section about-info",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu Header"
      }
    ],
    "presets": [
      {
        "name": "About Info",
        "category": "Custom Section"
      }
    ]
  }
{% endschema %}