{{ 'heading-template-custom.css' | asset_url | stylesheet_tag }}
{%- if collection.metafields.custom.banner != blank -%}
  <a href="{{ collection.metafields.custom.link }}" class="page-heading__img page-heading__img--link">
    <img src="{{ collection.metafields.custom.banner }}" alt="">
  </a>
{%- else -%}
  {%- if section.settings.video != blank -%}
    <div class="page-heading__img page-heading__img--video">
      <video id="heroVideo" loop="loop" autoplay loop muted playsinline class="">
        <source src="{{ section.settings.video }}">
      </video>
    </div>
  {% else %}
    {%- if section.settings.img2 != blank -%}
      <img src="{{- section.settings.img2 | img_url: 'master' -}}" alt="" class="page-heading__img">
    {%- endif -%}
  {%- endif -%}
{%- endif -%}

<div class="container">
  {%- if template == 'collection' -%}
    {%- if collection.metafields.custom.custom_h1 != blank -%}
      <h1 class="page-heading__title">{{- collection.metafields.custom.custom_h1 -}}</h1>
    {%- else -%}
      <h1 class="page-heading__title">{{- collection.title -}}</h1>
    {%- endif -%}
  {% else %}
    <h1 class="page-heading__title">{{- section.settings.title -}}</h1>
  {%- endif -%}
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const video = document.getElementById('heroVideo')
    video.play()
  })
</script>
{% schema %}
{
  "name": "Custom Page Heading",
  "class": "page-heading",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Logo Image"
    },
    {
      "type": "image_picker",
      "id": "img2",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Custom Page Heading",
      "category": "Custom Page Heading"
    }
  ]
}
{% endschema %}
