{{ 'header.css' | asset_url | stylesheet_tag }}
{% assign menu = linklists[section.settings.menu] %}
{% assign menuCollection = linklists[section.settings.menu2] %}

<div class="container">
    <div class="d-flex align-items-center">
        <button class="menu-btn">
            {% render 'menuButton' %}
        </button>
        {%- if menuCollection != blank -%}
        <ul class="collection-menu d-none d-lg-flex">
            {%- for link in menuCollection.links -%}
                <li class="collectiom-menu__item">
                    <a href="{{ link.url }}" class="collectiom-menu__link">{{ link.title }}</a>
                    {%- if link.links != blank -%}{% render 'icon-caretDown' %}{%- endif -%}
                    {%- if link.links != blank -%}
                        <ul class="collectiom-menu__hide">
                            {%- for childlink in link.links -%}
                                <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}

                </li>
            {%- endfor -%}
        </ul>
        {%- endif -%}
        <div class="header-icons">
            {%- comment -%}
            <button class="search">
                {% render 'icon-search' %}
            </button>
            {%- endcomment -%}

            <a class="t4s-pr searchLink" href="{{ routes.search_url }}" data-drawer-delay data-drawer-options='{ "id":"#t4s-search-hidden" }'>
                {% render 'icon-search' %}
            </a>
            <a href="{{ routes.account_url }}" class="header__account" {% unless customer or settings.login_side == false %} data-drawer-options='{ "id":"#t4s-login-sidebar" }' {% endunless %}>
                {% render 'icon-acount' %}
                {%- if show_txt -%}<span class="t4s-toolbar-label">{{bk_stts.title}}</span>{%- endif -%}
            </a>
            {%- comment -%}
            <a href="/account" title="account link" class="header__account">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" class="icon icon-user " xmlns="http://www.w3.org/2000/svg">
                <path d="M0.4952 18.9818C0.276029 19.4888 0.509308 20.0774 1.01624 20.2965C1.52318 20.5157 2.1118 20.2824 2.33097 19.7755L0.4952 18.9818ZM19.6705 19.7755C19.8897 20.2824 20.4783 20.5157 20.9852 20.2965C21.4922 20.0774 21.7255 19.4888 21.5063 18.9818L19.6705 19.7755ZM1.41309 19.3787C2.33097 19.7755 2.33079 19.7759 2.33062 19.7763C2.33058 19.7764 2.33042 19.7768 2.33034 19.777C2.33016 19.7774 2.33003 19.7777 2.32993 19.7779C2.32974 19.7783 2.3297 19.7784 2.32982 19.7782C2.33006 19.7776 2.33092 19.7757 2.33241 19.7724C2.33539 19.7658 2.34088 19.7537 2.34893 19.7366C2.36504 19.7024 2.39135 19.648 2.42826 19.5763C2.50216 19.4327 2.61806 19.2206 2.77899 18.9629C3.10177 18.4459 3.60019 17.7541 4.29663 17.0635C5.68095 15.6908 7.8372 14.3281 11.0007 14.3281V12.3281C7.19255 12.3281 4.55497 13.9907 2.88839 15.6433C2.05939 16.4654 1.46809 17.2861 1.08252 17.9036C0.889282 18.2131 0.746346 18.4738 0.649949 18.6611C0.601714 18.7548 0.565019 18.8304 0.539405 18.8848C0.526594 18.912 0.516545 18.9339 0.509199 18.9502C0.505525 18.9584 0.502527 18.9651 0.500197 18.9704C0.499031 18.973 0.498033 18.9753 0.4972 18.9772C0.496784 18.9782 0.496409 18.979 0.496076 18.9798C0.495909 18.9802 0.49569 18.9807 0.495607 18.9809C0.495398 18.9814 0.4952 18.9818 1.41309 19.3787ZM11.0007 14.3281C14.1643 14.3281 16.3205 15.6908 17.7049 17.0635C18.4013 17.7541 18.8997 18.4459 19.2225 18.9629C19.3834 19.2206 19.4993 19.4327 19.5732 19.5763C19.6101 19.648 19.6364 19.7024 19.6526 19.7366C19.6606 19.7537 19.6661 19.7658 19.6691 19.7724C19.6706 19.7757 19.6714 19.7776 19.6717 19.7782C19.6718 19.7784 19.6717 19.7783 19.6716 19.7779C19.6715 19.7777 19.6713 19.7774 19.6711 19.777C19.6711 19.7768 19.6709 19.7764 19.6709 19.7763C19.6707 19.7759 19.6705 19.7755 20.5884 19.3787C21.5063 18.9818 21.5061 18.9814 21.5059 18.9809C21.5058 18.9807 21.5056 18.9802 21.5054 18.9798C21.5051 18.979 21.5047 18.9782 21.5043 18.9772C21.5035 18.9753 21.5025 18.973 21.5013 18.9704C21.499 18.9651 21.496 18.9584 21.4923 18.9502C21.4849 18.9339 21.4749 18.912 21.4621 18.8848C21.4365 18.8304 21.3998 18.7548 21.3515 18.6611C21.2551 18.4738 21.1122 18.2131 20.919 17.9036C20.5334 17.2861 19.9421 16.4654 19.1131 15.6433C17.4465 13.9907 14.8089 12.3281 11.0007 12.3281V14.3281Z" fill="#928F91"></path>
                <path d="M14.2067 5.84651C14.2067 7.61707 12.7714 9.0524 11.0008 9.0524V11.0524C13.8759 11.0524 16.2067 8.72164 16.2067 5.84651H14.2067ZM11.0008 9.0524C9.23025 9.0524 7.79492 7.61707 7.79492 5.84651H5.79492C5.79492 8.72164 8.12568 11.0524 11.0008 11.0524V9.0524ZM7.79492 5.84651C7.79492 4.07595 9.23025 2.64062 11.0008 2.64062V0.640625C8.12568 0.640625 5.79492 2.97138 5.79492 5.84651H7.79492ZM11.0008 2.64062C12.7714 2.64062 14.2067 4.07595 14.2067 5.84651H16.2067C16.2067 2.97138 13.8759 0.640625 11.0008 0.640625V2.64062Z" fill="#928F91"></path>
                </svg>
              </a>
              {%- endcomment -%}
                <a class="cart-drawer" href="{{ routes.cart_url }}"{% if settings.cart_type != 'disable' %} data-drawer-delay data-drawer-options='{ "id":"#t4s-mini_cart" }'{% endif %}>
                    <span class="t4s-pr t4s-icon-cart__wrap">
                        {% render 'icon-cart' %}
                      <span data-cart-count class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">{{ cart.item_count }}</span>
                    </span>
              </a>
              {%- comment -%}
                <predictive-search class="header__search">
                    <button class="close-search">
                        {% render 'icon-close' %}
                    </button>
                    <form action='{{ routes.search_url }}' method='get' role='search' class="header__search-form">
                        <input
                            type="search"
                            name="q"
                            id="Search"
                            value="{{ search.terms | escape }}"
                            placeholder="search"
                            class="header__search-input"
                        >
                        <input type="hidden" name="options[prefix]" value="last">

                        <button type="submit" class="header__search-btn">
                            {% render 'icon-search' %}
                        </button>
                    </form>

                    <div class="header__search-results hidden"></div>
                </predictive-search>
            {%- endcomment -%}
        </div>
    </div>
</div>
<nav class="menu-hide">
    <div class="menu-hide_wrap">
        <ul class="menu-list d-none d-lg-block">
            <li class="menu-list__item menu-list__item--close">
                <button class="close-menu">
                    {% render 'icon-close' %}
                </button>
            </li>
            {%- if menu != blank -%}
                {%- for link in menu.links -%}
                    <li class="menu-list__item"><a href="{{ link.url }}" class="menu-list__link"">{{ link.title }}</a></li>
                {%- endfor -%}
            {%- endif -%}
        </ul>
        <ul class="menu-list menu-list--hide d-block d-lg-none">
            <li class="menu-list__item menu-list__item--close">
                <button class="close-menu">
                    {% render 'icon-close' %}
                </button>
            </li>
            {%- if menuCollection != blank -%}
                {%- for link in menuCollection.links -%}
                    <li class="menu-list__item menu-list__item--hide">
                        <div class="d-flex menu-list__wrap">
                            <a href="{{ link.url }}" class="menu-list__link menu-list__link--hide">{{ link.title }}</a>
                            {%- if link.links != blank -%}<span class="menuSvg">{% render 'icon-caretDown' %}</span>{%- endif -%}
                        </div>
                        {%- if link.links != blank -%}
                            <ul class="menu-list__second">
                                {%- for childlink in link.links -%}
                                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                                {%- endfor -%}
                            </ul>
                        {%- endif -%}
                    </li>
                {%- endfor -%}
            {%- endif -%}

        </ul>
        <div class="menu-hide__bottom">
            {%- if menu != blank -%}
            <ul class="menu-list d-block d-lg-none">
                    {%- for link in menu.links -%}
                        <li class="menu-list__item"><a href="{{ link.url }}" class="menu-list__link"">{{ link.title }}</a></li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            <div class="headerSocial-icons d-flex align-items-center">
                {%- if settings.social_instagram_link != blank -%}
                    <a href="{{- settings.social_instagram_link -}}" class="headerSocial-icons_item" target="_blank">{% render 'icon-instagram' %}</a>
                {%- endif -%}
                {%- if settings.social_twitter_link != blank -%}
                    <a href="{{- settings.social_twitter_link -}}" class="headerSocial-icons_item" target="_blank">{% render 'icon-twitter' %}</a>
                {%- endif -%}
                {%- if settings.social_facebook_link != blank -%}
                    <a href="{{- settings.social_facebook_link -}}" class="headerSocial-icons_item" target="_blank">{% render 'icon-facebook' %}</a>
                {%- endif -%}
            </div>
        </div>
    </div>
</nav>
{% schema %}
    {
        "name": "HEADER",
        "class": "header",
        "tag": "header",
        "settings": [
            {
                "type":"link_list",
                "id":"menu",
                "label":"Menu Header"
            },
            {
                "type":"link_list",
                "id":"menu2",
                "label":"Menu Collections"
            }
        ],
        "presets": [
            {
                "name": "Header",
                "category": "Custom Header"
            }
        ]
    }
{% endschema %}