<!-- sections/main-collection.liquid -->
{{ 'section.css' | asset_url | stylesheet_tag }}
{{ 'collection-pages.css' | asset_url | stylesheet_tag }}
{{ 'collection-products.css' | asset_url | stylesheet_tag }}
{{ 'collection-products-list.css' | asset_url | stylesheet_tag }}
{{ 'pagination.css' | asset_url | stylesheet_tag }}
{{ 'button-style.css' | asset_url | stylesheet_tag }}
<link href="{{ 'custom-effect.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
<link href="{{ 'loading.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
{{ 'collection-products-custom.css' | asset_url | stylesheet_tag }}
{{ 'section-products.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign se_blocks = section.blocks
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if stt_layout == 't4s-se-container'
    assign html_layout = '<div class="t4s-container">__</div></div>' | split:'__'
  elsif stt_layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split:'__'
  else
    assign html_layout = '__' | split:'__'
  endif
  assign layout_des = se_stts.layout_des
  assign image_ratio = se_stts.image_ratio
  if image_ratio == "ratioadapt"
    assign imgatt = ''
   else
    assign imgatt = 'data-'
  endif
  assign use_pagination = se_stts.use_pagination
  assign sett_equal = se_stts.use_eq_height
  assign show_vendor = se_stts.show_vendor
  assign enable_rating = settings.enable_rating
  assign inc_pr = se_stts.pr_des
  assign limit = se_stts.limit
  assign product_des = se_stts.product_des
  assign placeholder_img = settings.placeholder_img

  assign show_img = settings.show_img
  assign isGrowaveWishlist = false
  if settings.wishlist_mode == "3" and shop.customer_accounts_enabled
    assign isGrowaveWishlist = true
  endif
  assign enable_pr_size = settings.enable_pr_size
  assign pr_size_pos = settings.pr_size_pos
  assign show_size_type = settings.show_size_type
  assign size_ck = settings.size_ck | append:',size,sizes,Größe'
  assign get_size = size_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq

  assign enable_pr_color = settings.enable_pr_color
  assign show_cl_type = settings.show_color_type
  assign color_ck = settings.color_ck | append:',color,colors,couleur,colour'
  assign get_color = color_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq

  assign price_varies_style = settings.price_varies_style
  assign app_review = settings.app_review
  assign use_countdown = se_stts.use_cdt

  assign txt_cd = 'products.grid_items.offer_end_in' | t

  assign enable_bar_lm = se_stts.enable_bar_lm
  assign results_count = collection.products_count

  assign isLoadmore = false
  if layout_des != "2"
    if use_pagination == "load-more"  or use_pagination == "infinite"
      assign isLoadmore = true
      assign typeAjax = 'LmDefault'
    else
      assign typeAjax = 'AjaxDefault'
    endif
  else
     if use_pagination == "load-more" or use_pagination == "infinite"
      assign isLoadmore = true
      assign typeAjax = 'LmIsotope'
    else
      assign typeAjax = 'AjaxIsotope'
    endif
  endif

  assign enable_listing = se_stts.enable_listing
  assign enable_listing_default = se_stts.enable_listing_default
  assign show_list_btns = false
  if enable_listing and settings.enable_atc or settings.enable_quickview
  assign show_list_btns = true
  endif
  if enable_listing and enable_listing_default
   assign class_listview = 'is--listview'
  endif
  assign col_mobile = se_stts.col_mb
  assign col_tablet = se_stts.col_tb
  assign col_desktop = se_stts.col_dk
  assign cart_collection_items_per_row = cart.attributes.collection_items_per_row
  assign collection_items_per_row = cart_collection_items_per_row | split:'.'
  assign cl_des = collection.description
  assign type_filters = se_stts.type_filters
-%}

{%- paginate collection.products by limit -%}
<div class="t4s-section-inner t4s_nt_se_{{sid}} t4s_se_{{sid}} {{stt_layout}} {% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} t4s-has-imgbg lazyloadt4s {% endif %}"  {% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5" {% endif %} {% render 'section_style',se_stts:se_stts %} >
  {{-html_layout[0]-}}
  {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner {% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s {% endif %} "  {% if stt_image_bg != blank %}  data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5" {% endif %} > {%- endif -%}
  {%- if se_stts.position_desc == '1' and se_stts.show_desc -%}<div id="t4s-desc-collection" class="t4s-desc-collection t4s-desc-before">{{collection.description}}</div>{%- endif -%}


    {%- if collection.metafields.custom.custom_h1 != blank -%}
      <h1 class="collection__title">{{- collection.metafields.custom.custom_h1 -}}</h1>
    {%- else -%}
      <h1 class="collection__title">{{- collection.title -}}</h1>
    {%- endif -%}
    <div class="filtercont-wrap">
      {%- if se_blocks.size > 0 -%}
      <div class="t4s-collection-header t4s-d-flex 4s-align-items-center">
      
        {%- for block in se_blocks  -%}
          {%- assign bk_stts = block.settings -%}
          {%- case block.type -%}
            {%- when 'sortby' -%}
              <link rel="stylesheet" href="{{ 'base_drop.min.css' | asset_url }}" media="all">
              {{ 'collection-products-custom.css' | asset_url | stylesheet_tag }}
              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                {%- assign option_selected = collection.sort_options | where:"value",sort_by | first -%}
                <div class="d-flex">
                  {% comment %} <span class="srtBy">Sort by:</span> {% endcomment %}
                  <div class="t4s-dropdown t4s-dropdown__sortby">
                    <button data-dropdown-open data-position="bottom-end" data-id="t4s__sortby"><span class="t4s-d-none t4s-d-md-block">{{option_selected.name | escape}}</span><span class="t4s-d-md-none">{{'collections.general.sort_button' | t}}</span>
                    <svg class="t4s-icon-select-arrow" width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 1L6.5 6L1 1" stroke="#767270" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      
                    </button>
                    <div data-dropdown-wrapper class="t4s-dropdown__wrapper" id="t4s__sortby">
                      <div class="t4s-drop-arrow"></div>
                      <div class="t4s-dropdown__header">
                          <span class="t4s-dropdown__title">{{'collections.general.sort_by_label' | t}}</span>
                          <button data-dropdown-close aria-label="{{ 'general.aria.close' | t }}"><svg role="presentation" class="t4s-iconsvg-close" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg></button>
                      </div>
                      <div class="t4s-dropdown__content">
                          {%- for option in collection.sort_options -%}
                          <button data-dropdown-item data-sortby-item data-value="{{ option.value | escape }}"{% if option.value == sort_by %} class="is--selected"{% endif %}>{{ option.name | escape }}</button>
                          {%- endfor -%}
                      </div>
                    </div>
                </div>
                </div>

            {%- when 'layout'  -%}

            {%- liquid
              assign enable_listing = se_stts.enable_listing
              assign enable_listing_default = se_stts.enable_listing_default
              unless cart_collection_items_per_row contains 'list_t4s' and enable_listing == false
                  assign col_mobile = collection_items_per_row[0] | default:col_mobile
                  assign col_tablet = collection_items_per_row[1] | default:col_tablet
                  assign col_desktop = collection_items_per_row[2] | default:col_desktop
              endunless
              assign arr_cols_layout = 'list_t4s,1,2,3,4,5,6' |split:','
              assign arr_cols_limit = '3,5,7' |split:','
              assign arr_breakpoint = 'mobile,tablet,desktop' |split:','
              assign icon_col_0 = '<span class="t4s_icon_viewlist"></span>'
              assign icon_col_1 = '<span class="t4s_icon_view1"></span>'
              assign icon_col_2 = '<span class="t4s_icon_view2"></span>'
              assign icon_col_3 = '<span class="t4s_icon_view3"></span>'
              assign icon_col_4 = '<span class="t4s_icon_view4"></span>'
              assign icon_col_5 = '<span class="t4s_icon_view5"></span>'
              assign icon_col_6 = '<span class="t4s_icon_view6"></span>'
              if enable_listing
                assign listing_continue1 = ''
                assign listing_continue2 = '1'
              else
                assign listing_continue1 = '0'
                assign listing_continue2 = '0,1'
              endif
              if cart_collection_items_per_row contains 'list_t4s'
                  assign class_listview = ''
              elsif enable_listing and enable_listing_default
                  assign class_listview = 'is--listview'
              endif -%}

              <div data-layout-switch data-items="{{cart_collection_items_per_row}}" class="t4s-layout-switch-wrapper">
                {%- for i in (0..2) -%}
                  {%- assign cols_limit = arr_cols_limit[i] | plus:0 -%}
                  {%- capture list_continue -%}
                    {%- cycle listing_continue1,listing_continue2,listing_continue2 -%}
                  {%- endcapture -%}

                  <div class="t4s-layout__switch is--{% cycle 'mobile t4s-d-md-flex t4s-d-md-none', 'tablet t4s-d-none t4s-d-md-flex t4s-d-lg-none', 'desktop t4s-d-none t4s-d-lg-flex' %}">

                    {%- assign col_active = 'col_' | append:arr_breakpoint[i] -%}

                    {%- for j in (0..6) limit:cols_limit -%}
                        {%- if list_continue contains j %}{% continue %}{% endif -%}

                        <button data-btn-as-a data-breakpoint="{{arr_breakpoint[i]}}" data-col="{{arr_cols_layout[j]}}"{% if [col_active] == arr_cols_layout[j] %} class="is--active"{% endif %}>{%- assign icon_col_j = 'icon_col_' | append:j -%}{{ [icon_col_j] }}</button>
                    {%- endfor -%}
                  </div>
                {%- endfor -%}
              </div>
            {%- when 'filter' -%}
              <div class="t4s-btn-filter-wrapper">
                {%- liquid
                if collection.filters.size > 0 and type_filters == 'facets'
                    assign show_filter = true
                elsif type_filters == 'facets_tags'
                  if current_tags
                    assign tags_dow = collection.tags
                  else
                    assign tags_dow = collection.all_tags
                  endif
                  if tags_dow.size > 0
                    assign show_filter = true
                    assign id_drawer = '-tags'
                    echo '<style>button.t4s-btn-filter {opacity: 0 !important; pointer-events: none !important; }.t4s-toolbart-filter.t4s-toolbar-item{ display: none !important;}</style>'
                  endif
                else
                  assign show_filter = false
                endif -%}
                {%- if show_filter %}<button data-btn-as-a class="t4s-btn-filter" data-drawer-delay data-drawer-options='{ "id":"#t4s-filter-hidden{{id_drawer}}" }' aria-label="Show filters">
                  <svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6812 4.625C10.3627 6.19404 8.97553 7.375 7.3125 7.375C5.64947 7.375 4.26226 6.19404 3.94376 4.625H1.8125C1.4328 4.625 1.125 4.3172 1.125 3.9375C1.125 3.5578 1.4328 3.25 1.8125 3.25H3.94376C4.26226 1.68096 5.64947 0.5 7.3125 0.5C8.97553 0.5 10.3627 1.68096 10.6812 3.25H25.1875C25.5672 3.25 25.875 3.5578 25.875 3.9375C25.875 4.3172 25.5672 4.625 25.1875 4.625H10.6812ZM19.6875 14.25C21.3505 14.25 22.7377 13.069 23.0562 11.5H25.1875C25.5672 11.5 25.875 11.1922 25.875 10.8125C25.875 10.4328 25.5672 10.125 25.1875 10.125H23.0562C22.7377 8.55596 21.3505 7.375 19.6875 7.375C18.0245 7.375 16.6373 8.55596 16.3188 10.125H1.8125C1.4328 10.125 1.125 10.4328 1.125 10.8125C1.125 11.1922 1.4328 11.5 1.8125 11.5H16.3188C16.6373 13.069 18.0245 14.25 19.6875 14.25ZM11.4375 21.125C13.1005 21.125 14.4877 19.944 14.8062 18.375H25.1875C25.5672 18.375 25.875 18.0672 25.875 17.6875C25.875 17.3078 25.5672 17 25.1875 17H14.8062C14.4877 15.431 13.1005 14.25 11.4375 14.25C9.77447 14.25 8.38726 15.431 8.06876 17H1.8125C1.4328 17 1.125 17.3078 1.125 17.6875C1.125 18.0672 1.4328 18.375 1.8125 18.375H8.06876C8.38726 19.944 9.77447 21.125 11.4375 21.125ZM9.375 3.9375C9.375 5.07659 8.45159 6 7.3125 6C6.17341 6 5.25 5.07659 5.25 3.9375C5.25 2.79841 6.17341 1.875 7.3125 1.875C8.45159 1.875 9.375 2.79841 9.375 3.9375ZM19.6875 12.875C20.8266 12.875 21.75 11.9516 21.75 10.8125C21.75 9.67341 20.8266 8.75 19.6875 8.75C18.5484 8.75 17.625 9.67341 17.625 10.8125C17.625 11.9516 18.5484 12.875 19.6875 12.875ZM13.5 17.6875C13.5 18.8266 12.5766 19.75 11.4375 19.75C10.2984 19.75 9.375 18.8266 9.375 17.6875C9.375 16.5484 10.2984 15.625 11.4375 15.625C12.5766 15.625 13.5 16.5484 13.5 17.6875Z" fill="black"/>
                    <path d="M10.6812 4.625V4.325H10.436L10.3872 4.56532L10.6812 4.625ZM3.94376 4.625L4.23777 4.56532L4.18898 4.325H3.94376V4.625ZM3.94376 3.25V3.55H4.18898L4.23777 3.30968L3.94376 3.25ZM10.6812 3.25L10.3872 3.30968L10.436 3.55H10.6812V3.25ZM23.0562 11.5V11.2H22.811L22.7622 11.4403L23.0562 11.5ZM23.0562 10.125L22.7622 10.1847L22.811 10.425H23.0562V10.125ZM16.3188 10.125V10.425H16.564L16.6128 10.1847L16.3188 10.125ZM16.3188 11.5L16.6128 11.4403L16.564 11.2H16.3188V11.5ZM14.8062 18.375V18.075H14.561L14.5122 18.3153L14.8062 18.375ZM14.8062 17L14.5122 17.0597L14.561 17.3H14.8062V17ZM8.06876 17V17.3H8.31398L8.36277 17.0597L8.06876 17ZM8.06876 18.375L8.36277 18.3153L8.31398 18.075H8.06876V18.375ZM7.3125 7.675C9.12102 7.675 10.6289 6.39078 10.9752 4.68468L10.3872 4.56532C10.0966 5.9973 8.83005 7.075 7.3125 7.075V7.675ZM3.64976 4.68468C3.99608 6.39078 5.50398 7.675 7.3125 7.675V7.075C5.79495 7.075 4.52844 5.9973 4.23777 4.56532L3.64976 4.68468ZM1.8125 4.925H3.94376V4.325H1.8125V4.925ZM0.825 3.9375C0.825 4.48288 1.26712 4.925 1.8125 4.925V4.325C1.59849 4.325 1.425 4.15151 1.425 3.9375H0.825ZM1.8125 2.95C1.26712 2.95 0.825 3.39212 0.825 3.9375H1.425C1.425 3.72349 1.59849 3.55 1.8125 3.55V2.95ZM3.94376 2.95H1.8125V3.55H3.94376V2.95ZM7.3125 0.2C5.50398 0.2 3.99608 1.48422 3.64976 3.19032L4.23777 3.30968C4.52844 1.8777 5.79495 0.8 7.3125 0.8V0.2ZM10.9752 3.19032C10.6289 1.48422 9.12102 0.2 7.3125 0.2V0.8C8.83005 0.8 10.0966 1.8777 10.3872 3.30968L10.9752 3.19032ZM25.1875 2.95H10.6812V3.55H25.1875V2.95ZM26.175 3.9375C26.175 3.39212 25.7329 2.95 25.1875 2.95V3.55C25.4015 3.55 25.575 3.72349 25.575 3.9375H26.175ZM25.1875 4.925C25.7329 4.925 26.175 4.48288 26.175 3.9375H25.575C25.575 4.15151 25.4015 4.325 25.1875 4.325V4.925ZM10.6812 4.925H25.1875V4.325H10.6812V4.925ZM22.7622 11.4403C22.4716 12.8723 21.205 13.95 19.6875 13.95V14.55C21.496 14.55 23.0039 13.2658 23.3502 11.5597L22.7622 11.4403ZM25.1875 11.2H23.0562V11.8H25.1875V11.2ZM25.575 10.8125C25.575 11.0265 25.4015 11.2 25.1875 11.2V11.8C25.7329 11.8 26.175 11.3579 26.175 10.8125H25.575ZM25.1875 10.425C25.4015 10.425 25.575 10.5985 25.575 10.8125H26.175C26.175 10.2671 25.7329 9.825 25.1875 9.825V10.425ZM23.0562 10.425H25.1875V9.825H23.0562V10.425ZM19.6875 7.675C21.205 7.675 22.4716 8.7527 22.7622 10.1847L23.3502 10.0653C23.0039 8.35922 21.496 7.075 19.6875 7.075V7.675ZM16.6128 10.1847C16.9034 8.7527 18.17 7.675 19.6875 7.675V7.075C17.879 7.075 16.3711 8.35922 16.0248 10.0653L16.6128 10.1847ZM1.8125 10.425H16.3188V9.825H1.8125V10.425ZM1.425 10.8125C1.425 10.5985 1.59849 10.425 1.8125 10.425V9.825C1.26712 9.825 0.825 10.2671 0.825 10.8125H1.425ZM1.8125 11.2C1.59849 11.2 1.425 11.0265 1.425 10.8125H0.825C0.825 11.3579 1.26712 11.8 1.8125 11.8V11.2ZM16.3188 11.2H1.8125V11.8H16.3188V11.2ZM19.6875 13.95C18.17 13.95 16.9034 12.8723 16.6128 11.4403L16.0248 11.5597C16.3711 13.2658 17.879 14.55 19.6875 14.55V13.95ZM14.5122 18.3153C14.2216 19.7473 12.955 20.825 11.4375 20.825V21.425C13.246 21.425 14.7539 20.1408 15.1002 18.4347L14.5122 18.3153ZM25.1875 18.075H14.8062V18.675H25.1875V18.075ZM25.575 17.6875C25.575 17.9015 25.4015 18.075 25.1875 18.075V18.675C25.7329 18.675 26.175 18.2329 26.175 17.6875H25.575ZM25.1875 17.3C25.4015 17.3 25.575 17.4735 25.575 17.6875H26.175C26.175 17.1421 25.7329 16.7 25.1875 16.7V17.3ZM14.8062 17.3H25.1875V16.7H14.8062V17.3ZM11.4375 14.55C12.955 14.55 14.2216 15.6277 14.5122 17.0597L15.1002 16.9403C14.7539 15.2342 13.246 13.95 11.4375 13.95V14.55ZM8.36277 17.0597C8.65344 15.6277 9.91995 14.55 11.4375 14.55V13.95C9.62898 13.95 8.12108 15.2342 7.77476 16.9403L8.36277 17.0597ZM1.8125 17.3H8.06876V16.7H1.8125V17.3ZM1.425 17.6875C1.425 17.4735 1.59849 17.3 1.8125 17.3V16.7C1.26712 16.7 0.825 17.1421 0.825 17.6875H1.425ZM1.8125 18.075C1.59849 18.075 1.425 17.9015 1.425 17.6875H0.825C0.825 18.2329 1.26712 18.675 1.8125 18.675V18.075ZM8.06876 18.075H1.8125V18.675H8.06876V18.075ZM11.4375 20.825C9.91995 20.825 8.65344 19.7473 8.36277 18.3153L7.77476 18.4347C8.12108 20.1408 9.62898 21.425 11.4375 21.425V20.825ZM7.3125 6.3C8.61727 6.3 9.675 5.24227 9.675 3.9375H9.075C9.075 4.9109 8.2859 5.7 7.3125 5.7V6.3ZM4.95 3.9375C4.95 5.24227 6.00773 6.3 7.3125 6.3V5.7C6.3391 5.7 5.55 4.9109 5.55 3.9375H4.95ZM7.3125 1.575C6.00773 1.575 4.95 2.63273 4.95 3.9375H5.55C5.55 2.9641 6.3391 2.175 7.3125 2.175V1.575ZM9.675 3.9375C9.675 2.63273 8.61727 1.575 7.3125 1.575V2.175C8.2859 2.175 9.075 2.9641 9.075 3.9375H9.675ZM21.45 10.8125C21.45 11.7859 20.6609 12.575 19.6875 12.575V13.175C20.9923 13.175 22.05 12.1173 22.05 10.8125H21.45ZM19.6875 9.05C20.6609 9.05 21.45 9.8391 21.45 10.8125H22.05C22.05 9.50773 20.9923 8.45 19.6875 8.45V9.05ZM17.925 10.8125C17.925 9.8391 18.7141 9.05 19.6875 9.05V8.45C18.3827 8.45 17.325 9.50773 17.325 10.8125H17.925ZM19.6875 12.575C18.7141 12.575 17.925 11.7859 17.925 10.8125H17.325C17.325 12.1173 18.3827 13.175 19.6875 13.175V12.575ZM11.4375 20.05C12.7423 20.05 13.8 18.9923 13.8 17.6875H13.2C13.2 18.6609 12.4109 19.45 11.4375 19.45V20.05ZM9.075 17.6875C9.075 18.9923 10.1327 20.05 11.4375 20.05V19.45C10.4641 19.45 9.675 18.6609 9.675 17.6875H9.075ZM11.4375 15.325C10.1327 15.325 9.075 16.3827 9.075 17.6875H9.675C9.675 16.7141 10.4641 15.925 11.4375 15.925V15.325ZM13.8 17.6875C13.8 16.3827 12.7423 15.325 11.4375 15.325V15.925C12.4109 15.925 13.2 16.7141 13.2 17.6875H13.8Z" fill="black"/>
                    </svg>
                    {{'collections.general.filter_button' | t}}</button>{% endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      {%- endif -%}
      <div class="t4s-row">
        <div data-ntajax-container{% if show_filter %} data-has-filters{% endif %} data-ntajax-options='{"id":"{{sid}}","type":"{{typeAjax}}","typeFilters":"{{type_filters}}","isProduct":true,"updateURL":true,"updateURLPrev":true}'{% unless collection.current_type or collection.current_vendor %} data-collection-url="{{collection.url}}"{% endunless %} class="t4s-col-item t4s-col-12 t4s-main-area t4s-main-collection-page">
        {%- assign total_active_values = 0 -%}
        {%- capture filters__active -%}
              <div class="t4s-active-filters__count t4s-d-inline-block">({{collection.products_count}})</div>
              {%- for filter in collection.filters -%}
                {%- if filter.type == "price_range" -%}
                  {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                  {%- assign total_active_values = total_active_values | plus: 1 -%}
                    <a class="t4s-active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                      {%- assign min_value = filter.min_value.value | default: 0 -%}
                      {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                      {{ min_value | money }} - {{ max_value | money }}
                    </a>
                  {%- endif -%}
                {%- else -%}
                  {%- for filter_value in filter.active_values -%}
                    {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                    <a class="t4s-active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">{{ filter_value.label }}</a>
                  {%- endfor -%}
                {%- endif- %}
              {%- endfor -%}
              {%- if total_active_values > 1 %}<a href="{{ collection.url }}{% if collection.sort_by != blank %}?sort_by={{ collection.sort_by }}{% endif %}" class="t4s-active-filters__clear">{{ 'products.facets.clear_all' | t }}</a>{% endif -%}
          {%- endcapture -%}
          {%- if total_active_values > 0 %}<div class="t4s-active-filters">{{- filters__active -}}</div>{% endif -%}

          {%- if current_tags.size > 0 and type_filters == 'facets_tags' -%}
              <div class="t4s-active-filters">
                <div class="t4s-active-filters__count t4s-d-inline-block">{{ 'products.facets.results_with_count_html' | t:count:collection.products_count}}</div>
                {%- if current_tags.size > 0 -%}{%- for tag in current_tags -%}{%- assign txt_tag = tag | replace: '-', ' ' | replace: '_', ' ' -%}{{ txt_tag | link_to_remove_tag: tag | replace: 'title=', 'class="t4s-active-filters__remove-filter" aria-label=' }}{%- endfor -%}{%- endif -%}
                {%- if current_tags.size > 1 -%}<a class="t4s-active-filters__clear" href="{{ collection.url }}{% if collection.sort_by != blank %}?sort_by={{ collection.sort_by }}{% endif %}">{{ 'products.facets.clear_all' | t }}</a>{%- endif -%}
              </div>
          {%- endif -%}

          {%- if paginate.previous.is_link and isLoadmore -%}
            <div data-wrap-lm-prev class="t4s-pagination-wrapper t4s-prs-head t4s-has-btn-{{use_pagination}} {{se_stts.btn_pos}} t4s-w-100">
              <a data-load-more data-is-prev href="{{ paginate.previous.url }}" class="t4s-pr t4s-loadmore-btn t4s-btn t4s-btn-loading__svg t4s-btn-base t4s-btn-style-{{se_stts.button_style}} t4s-btn-size-{{se_stts.btns_size}} t4s-btn-icon-{{se_stts.btn_icon}} t4s-btn-color-{{se_stts.btns_cl}} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline'%}t4s-btn-effect-{{se_stts.button_effect}}{% endif %}">
                <span class="t4s-btn-atc_text">{{ 'search.pagination.load_prev' | t }}</span>
                {% if se_stts.btn_icon %}
                  <svg class="t4s-btn-icon" viewBox="0 0 32 32"><path d="M 15 4 L 15 24.0625 L 8.21875 17.28125 L 6.78125 18.71875 L 15.28125 27.21875 L 16 27.90625 L 16.71875 27.21875 L 25.21875 18.71875 L 23.78125 17.28125 L 17 24.0625 L 17 4 Z"/></svg>
                {% endif %}
                <div class="t4s-loading__spinner t4s-dn">
                  <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="t4s-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="t4s-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                </div>
              </a>
            </div>
          {%- endif -%}
          {%- if layout_des == "1" -%}
            <div data-contentlm-replace class="t4s_box_pr_grid t4s-products {{class_listview}} t4s-text-{{se_stts.content_align}} t4s_{{image_ratio}}  t4s_position_{{se_stts.image_position}} t4s_{{se_stts.image_size}} t4s-row  t4s-justify-content-center t4s-row-cols-{{col_mobile}} t4s-row-cols-md-{{col_tablet}} t4s-row-cols-lg-{{col_desktop}} t4s-gx-md-{{se_stts.space_h_item}} t4s-gy-md-{{se_stts.space_v_item}} t4s-gx-{{se_stts.space_h_item_mb}} t4s-gy-{{se_stts.space_v_item_mb}}">
          {%- else -%}
            <div data-contentlm-replace class="isotopet4s t4s_box_pr_masonry t4s-products {{class_listview}} t4s-text-{{se_stts.content_align}} t4s_{{image_ratio}} t4s_position_{{se_stts.image_position}} t4s_{{se_stts.image_size}} t4s-row t4s-row-cols-{{col_mobile}} t4s-row-cols-md-{{col_tablet}} t4s-row-cols-lg-{{col_desktop}} t4s-gx-md-{{se_stts.space_h_item}} t4s-gy-md-{{se_stts.space_v_item}} t4s-gx-{{se_stts.space_h_item_mb}} t4s-gy-{{se_stts.space_v_item_mb}}" data-isotopet4s-js='{ "itemSelector": ".t4s-product", "layoutMode": "masonry" }'>
          {%- endif -%}
            {%- liquid
              case product_des
                when '1'
                  render 'product-grid-item1' for collection.products as product,product:product,prefix_url:prefix_url,isGrowaveWishlist:isGrowaveWishlist,show_img:show_img,show_vendor:show_vendor,enable_pr_color:enable_pr_color,show_cl_type:show_cl_type,get_color:get_color,enable_pr_size:enable_pr_size,pr_size_pos:pr_size_pos,get_size:get_size,show_size_type:show_size_type,price_varies_style:price_varies_style,app_review:app_review,enable_rating:enable_rating,use_countdown:use_countdown,imgatt:imgatt,show_list_btns:show_list_btns, placeholder_img:placeholder_img
                when '2'
                  render 'product-grid-item2' for collection.products as product,product:product,prefix_url:prefix_url,isGrowaveWishlist:isGrowaveWishlist,show_img:show_img,show_vendor:show_vendor,enable_pr_color:enable_pr_color,show_cl_type:show_cl_type,get_color:get_color,enable_pr_size:enable_pr_size,pr_size_pos:pr_size_pos,get_size:get_size,show_size_type:show_size_type,price_varies_style:price_varies_style,app_review:app_review,enable_rating:enable_rating,use_countdown:use_countdown,imgatt:imgatt,show_list_btns:show_list_btns, placeholder_img:placeholder_img
                when '3'
                  render 'product-grid-item3' for collection.products as product,product:product,prefix_url:prefix_url,isGrowaveWishlist:isGrowaveWishlist,show_img:show_img,show_vendor:show_vendor,enable_pr_color:enable_pr_color,show_cl_type:show_cl_type,get_color:get_color,enable_pr_size:enable_pr_size,pr_size_pos:pr_size_pos,get_size:get_size,show_size_type:show_size_type,price_varies_style:price_varies_style,app_review:app_review,enable_rating:enable_rating,use_countdown:use_countdown,imgatt:imgatt,show_list_btns:show_list_btns, placeholder_img:placeholder_img
                when '4'
                  render 'product-grid-item4' for collection.products as product,product:product,prefix_url:prefix_url,isGrowaveWishlist:isGrowaveWishlist,show_img:show_img,show_vendor:show_vendor,enable_pr_color:enable_pr_color,show_cl_type:show_cl_type,get_color:get_color,enable_pr_size:enable_pr_size,pr_size_pos:pr_size_pos,get_size:get_size,show_size_type:show_size_type,price_varies_style:price_varies_style,app_review:app_review,enable_rating:enable_rating,use_countdown:use_countdown,imgatt:imgatt,show_list_btns:show_list_btns, placeholder_img:placeholder_img
                when '5'
                  render 'product-grid-item5' for collection.products as product,product:product,prefix_url:prefix_url,isGrowaveWishlist:isGrowaveWishlist,show_img:show_img,show_vendor:show_vendor,enable_pr_color:enable_pr_color,show_cl_type:show_cl_type,get_color:get_color,enable_pr_size:enable_pr_size,pr_size_pos:pr_size_pos,get_size:get_size,show_size_type:show_size_type,price_varies_style:price_varies_style,app_review:app_review,enable_rating:enable_rating,use_countdown:use_countdown,imgatt:imgatt,show_list_btns:show_list_btns, placeholder_img:placeholder_img
                when '6'
                  render 'product-grid-item6' for collection.products as product,product:product,prefix_url:prefix_url,isGrowaveWishlist:isGrowaveWishlist,show_img:show_img,show_vendor:show_vendor,enable_pr_color:enable_pr_color,show_cl_type:show_cl_type,get_color:get_color,enable_pr_size:enable_pr_size,pr_size_pos:pr_size_pos,get_size:get_size,show_size_type:show_size_type,price_varies_style:price_varies_style,app_review:app_review,enable_rating:enable_rating,use_countdown:use_countdown,imgatt:imgatt,show_list_btns:show_list_btns, placeholder_img:placeholder_img
              endcase -%}
          </div>
          {%- if paginate.pages > 1 -%}
            <div class="t4s-row t4s-prs-footer t4s-has-btn-{{use_pagination}} {{se_stts.btn_pos}}">
              {%- if use_pagination == 'default' -%}
                {%- render 'pagination', paginate: paginate, anchor: '' -%}
              {%- elsif paginate.next.is_link -%}
                <div data-wrap-lm class="t4s-pagination-wrapper t4s-w-100">
                  {%- if enable_bar_lm -%}
                  <div data-wrap-lm-bar class="t4s-lm-bar t4s-btn-color-{{se_stts.btns_cl}}">
                    {%- assign current_pr_size = collection.products.size | plus:paginate.current_offset -%}
                      <span class="t4s-lm-bar--txt">{{ 'collections.pagination.bar_with_count_html' | t:current_count:current_pr_size,total_count:results_count}}</span>
                      <div class="t4s-lm-bar--progress t4s-pr t4s-oh"><span class="t4s-lm-bar--current t4s-pa t4s-l-0 t4s-r-0 t4s-t-0 t4s-b-0" style="width: {{current_pr_size | times:100.0 | divided_by: results_count}}%"></span></div>
                  </div>
                  {%- endif -%}
                    <a data-load-more {% if use_pagination == 'infinite' %} data-load-onscroll {% endif %}  href="{{ paginate.next.url }}" class="t4s-pr t4s-loadmore-btn t4s-btn-loading__svg t4s-btn t4s-btn-base t4s-btn-style-{{se_stts.button_style}} t4s-btn-size-{{se_stts.btns_size}} t4s-btn-icon-{{se_stts.btn_icon}} t4s-btn-color-{{se_stts.btns_cl}} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline'%}t4s-btn-effect-{{se_stts.button_effect}}{% endif %}">
                      <span class="t4s-btn-atc_text">{{ 'collections.pagination.load_more' | t }}</span>
                      {% if se_stts.btn_icon %}
                        <svg class="t4s-btn-icon" viewBox="0 0 32 32"><path d="M 15 4 L 15 24.0625 L 8.21875 17.28125 L 6.78125 18.71875 L 15.28125 27.21875 L 16 27.90625 L 16.71875 27.21875 L 25.21875 18.71875 L 23.78125 17.28125 L 17 24.0625 L 17 4 Z"/></svg>
                      {% endif %}
                      <div class="t4s-loading__spinner t4s-dn">
                        <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="t4s-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="t4s-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                      </div>
                    </a>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if collection.products.size == 0 -%}
            <div class="t4s-coll-empty t4s-align-items-center">
              <div class="t4s-no-result-product t4s-d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="18" height="18"><path d="M506.3 417l-213.3-364c-16.33-28-57.54-28-73.98 0l-213.2 364C-10.59 444.9 9.849 480 42.74 480h426.6C502.1 480 522.6 445 506.3 417zM232 168c0-13.25 10.75-24 24-24S280 154.8 280 168v128c0 13.25-10.75 24-23.1 24S232 309.3 232 296V168zM256 416c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 401.9 273.4 416 256 416z"></path></svg>{{ 'collections.general.no_matches' | t }}
              </div>
            </div>
          {%- endif -%}
        </div>
        <aside data-sidebar-content class="t4s-col-item t4s-col-12 t4s-col-lg-3 t4s-sidebar t4s-dn"><div class="t4s-loading--bg"></div></aside>
      </div>
    </div>
  <div id="t4s-desc-collection" class="t4s-desc-collection t4s-desc-before t4s-desc-collection--dropdown collapsed">{{collection.description}}</div>
  {%- if collection.description != blank -%}
    <button id="toggleButton">read more 
      <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.5 1.25L5 4.75L1.5 1.25" stroke="#F88927" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  {%- endif -%}
  {{-html_layout[1]-}}
</div>


{%- endpaginate -%}

{%- if enable_listing and cart_collection_items_per_row contains 'list_t4s' -%}
{%- comment -%}  list_t4s.2.5 is--listview t4s-row-cols-list_t4s t4s-row-cols-md-2 t4s-row-cols-lg-5 {%- endcomment -%}
<script>
    (function() {
       var windowWidth = window.innerWidth,
       onlistview      = {{collection_items_per_row| json}},
       producSelector  = document.querySelectorAll('#shopify-section-{{section.id}} .t4s-products')[0],
       classListview   = 'is--listview on--list-',
       classListview2  = classListview;

       if ( windowWidth < 768 && onlistview[0] == 'list_t4s' ) {
          classListview = classListview +'mobile';
       } else if ( windowWidth < 1025 && onlistview[1] == 'list_t4s' ) {
          classListview = classListview +'tablet';
       } else if (onlistview[2] == 'list_t4s') {
          classListview = classListview +'desktop';
       }
       if (classListview != classListview2)
       producSelector.className += ' '+classListview;

    }());
</script>
{%- endif -%}
{% javascript %}
function setEqualHeight(columns){
  var tallestcolumn = 0;

  columns.each( function(){
  currentHeight = $(this).height();
  if(currentHeight > tallestcolumn){
     tallestcolumn = currentHeight;
  }
  });

  columns.height(tallestcolumn);
}
setEqualHeight($(".grid__item"));
setEqualHeight($(".t4s-product--height"));
const widg = document.querySelector('.globoRecommendationsBottom')

   var target = document.querySelector('.globoRecommendationsBottom')

//  observer
const config = {
    attributes: true,
    childList: true,
    subtree: true
};

// callback function
const callback = function(mutationsList, observer) {
    for (let mutation of mutationsList) {
        if (mutation.type === 'childList') {
            setEqualHeight($('.gowl-item'));
        } else if (mutation.type === 'attributes') {
        }
    }
};

//
const observer = new MutationObserver(callback);

//
observer.observe(target, config);

        var textDiv = document.getElementById("t4s-desc-collection");
        var toggleButton = document.getElementById("toggleButton");

        toggleButton.addEventListener("click", function() {
          if (textDiv.classList.contains("collapsed")) {
                textDiv.style.maxHeight = textDiv.scrollHeight + "px";
                textDiv.classList.remove("collapsed");
                toggleButton.classList.add("dwn");
            } else {
                textDiv.style.maxHeight = "120px";
                textDiv.classList.add("collapsed");
                toggleButton.classList.remove("dwn");
            }
        });

{% endjavascript %}
{%- schema -%}
  {
    "name": "Main collection",
    "tag": "section",
    "class": "t4s-section t4s-section-main t4s-collection-page t4s_bk_flickity t4s_tp_istope t4s_tp_countdown",
    "settings": [
      {
        "type": "header",
        "content": "1. General options"
      },
  	  {
        "type": "checkbox",
        "id": "show_desc",
        "label": "Show description collection",
        "default": false
      },
      {
        "type": "select",
        "id": "position_desc",
        "options": [
          {
            "value": "1",
            "label": "Before main collection"
          },
          {
            "value": "2",
            "label": "After main collection"
          }
        ],
        "label": "Position description collection",
        "default": "2"
      },
      {
        "type": "select",
        "id": "product_des",
        "options": [
          {
            "value": "1",
            "label": "Design 1"
          },
          {
            "value": "2",
            "label": "Design 2"
          },
          {
            "value": "3",
            "label": "Design 3"
          },
          {
            "value": "4",
            "label": "Design 4"
          },
          {
            "value": "5",
            "label": "Design 5"
          },
          {
            "value": "6",
            "label": "Design 6"
          }
        ],
        "label": "Product item design",
        "default": "1"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_cdt",
        "label": "Show product countdown",
        "default": false
      },
      {
        "type": "header",
        "content": "+ Options image products"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image ratio",
        "default": "rationt",
        "info": "Aspect ratio custom will settings in general panel",
        "options": [
          {
            "group": "Natural",
            "value": "ratioadapt",
            "label": "Adapt to image"
          },
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "rationt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "ratiocus1",
            "label": "Ratio custom 1"
          },
          {
            "group": "Custom",
            "value": "ratiocus2",
            "label": "Ratio custom 2"
          },
          {
            "group": "Custom",
            "value": "ratio_us3",
            "label": "Ratio custom 3"
          },
          {
            "group": "Custom",
            "value": "ratiocus4",
            "label": "Ratio custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "cover",
        "info": "This settings apply only if the image ratio is not set to 'Adapt to image'",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info": "The first value is the horizontal position and the second value is the vertical. This settings apply only if the image ratio is not set to 'Adapt to image'",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left top"
          },
          {
            "value": "2",
            "label": "Left center"
          },
          {
            "value": "3",
            "label": "Left bottom"
          },
          {
            "value": "4",
            "label": "Right top"
          },
          {
            "value": "5",
            "label": "Right center"
          },
          {
            "value": "6",
            "label": "Right bottom"
          },
          {
            "value": "7",
            "label": "Center top"
          },
          {
            "value": "8",
            "label": "Center center"
          },
          {
            "value": "9",
            "label": "Center bottom"
          }
        ],
        "label": "Image position",
        "default": "8"
      },
      {
        "type": "select",
        "id": "content_align",
        "label": "Product content align",
        "default": "default",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "range",
        "id": "limit",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Maximum products to show",
        "default": 12
      },

      {
        "type": "checkbox",
        "id": "enable_listing",
        "label": "Enable list switch",
        "default": true
      },
       {
         "type": "checkbox",
         "id": "enable_listing_default",
         "label": "Set list view as default",
         "default": false
       },
      {
        "type": "select",
        "id": "col_dk",
        "label": "Items per row",
        "default": "4",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_tb",
        "label": "Items per row (Tablet)",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_mb",
        "label": "Items per row (Mobile)",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ]
      },
      {
        "type": "select",
        "id": "space_h_item",
        "options": [
          {
              "value": "0",
              "label": "0"
          },
          {
              "value": "2",
              "label": "2px"
          },
          {
              "value": "4",
              "label": "4px"
          },
          {
              "value": "6",
              "label": "6px"
          },
          {
              "value": "8",
              "label": "8px"
          },
          {
              "value": "10",
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_v_item",
        "options": [
          {
              "value": "0",
              "label": "0"
          },
          {
              "value": "2",
              "label": "2px"
          },
          {
              "value": "4",
              "label": "4px"
          },
          {
              "value": "6",
              "label": "6px"
          },
          {
              "value": "8",
              "label": "8px"
          },
          {
              "value": "10",
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space vertical items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_h_item_mb",
        "options": [
          {
              "value": "0",
              "label": "0"
          },
          {
              "value": "2",
              "label": "2px"
          },
          {
              "value": "4",
              "label": "4px"
          },
          {
              "value": "6",
              "label": "6px"
          },
          {
              "value": "8",
              "label": "8px"
          },
          {
              "value": "10",
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items (Mobile)",
        "default": "10"
      },
      {
        "type": "select",
        "id": "space_v_item_mb",
        "options": [
          {
              "value": "0",
              "label": "0"
          },
          {
              "value": "2",
              "label": "2px"
          },
          {
              "value": "4",
              "label": "4px"
          },
          {
              "value": "6",
              "label": "6px"
          },
          {
              "value": "8",
              "label": "8px"
          },
          {
              "value": "10",
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space vertical items (Mobile)",
        "default": "10"
      },
      {
        "type": "select",
        "id": "layout_des",
        "options": [
          {
            "value": "1",
            "label": "Grid"
          },
          {
            "value": "2",
            "label": "Masonry"
          }
        ],
        "label": "Layout design",
        "default": "1"
      },
      {
        "type": "header",
        "content": "Pagination options"
      },
      {
        "type": "select",
        "id": "use_pagination",
        "label": "Pagination",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "load-more",
            "label": "'Load more' button"
          },
          {
            "value": "infinite",
            "label": "Infinite scrolling"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_bar_lm",
        "label": "Enable progress bar?",
        "info": "Only active when you use 'Load more' or 'Infinite scrolling'",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Page-loading speed is everything for good user experience. Multiple researches have shown that slow load times result in people leaving your site or delete your app which result in low conversion rates. And that’s bad news for those who use an infinite-scrolling. The more users scroll down a page, more content has to load on the same page. As a result, the page performance will increasingly slow down."
      },
      {
        "type": "paragraph",
        "content": "Another problem is limited resources of the user’s device. On many infinite scrolling sites, especially those with many images, devices with limited resources (such as mobile devices or tablets with dated hardware) can start slowing down because of the sheer number of assets it has loaded."
      },
      {
        "type": "paragraph",
        "content": "Therefore, we recommend that you only use 'Load more', 'Infinite scrolling' for when your collection is less than or equal to 400 products"
      },
      {
        "type":"checkbox",
        "id":"btn_icon",
        "label":"Enable button icon",
        "default":false
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
            {
                "label": "Default",
                "value": "default"
            },
            {
                "label": "Outline",
                "value": "outline"
            },
            {
                "label": "Bordered bottom",
                "value": "bordered"
            },
            {
                "label": "Link",
                "value": "link"
            }
        ]
      },
      {
        "type": "select",
        "id": "btns_size",
        "label": "Button size",
        "default":"large",
        "options": [
            {
                "label": "Small",
                "value": "small"
            },
            {
                "label": "Extra-mall",
                "value": "extra-small"
            },
            {
                "label": "Medium",
                "value": "medium"
            },
            {
                "label": "Extra-medium",
                "value": "extra-medium"
            },
            {
                "label": "Large",
                "value": "large"
            },
            {
                "label": "Extra large",
                "value": "extra-large"
            }
        ]
      },
      {
        "type": "select",
        "id": "btns_cl",
        "label": "Button color",
        "default": "dark",
        "options": [
          {
              "value": "light",
              "label": "Light"
          },
          {
              "value": "dark",
              "label": "Dark"
          },
          {
              "value": "primary",
              "label": "Primary"
          },
          {
              "value": "custom1",
              "label": "Custom color 1"
          },
          {
              "value": "custom2",
              "label": "Custom color 2"
          }
        ]
      },
      {
        "type":"select",
        "id":"button_effect",
        "label":"Button hover effect",
        "default":"default",
        "info":"Only working button style default, outline",
        "options":[
            {
                "label":"Default",
                "value":"default"
            },
            {
                "label":"Fade",
                "value":"fade"
            },
            {
                "label":"Rectangle out",
                "value":"rectangle-out"
            },
            {
                "label":"Sweep to right",
                "value":"sweep-to-right"
            },
            {
                "label":"Sweep to left",
                "value":"sweep-to-left"
            },
            {
                "label":"Sweep to bottom",
                "value":"sweep-to-bottom"
            },
            {
                "label":"Sweep to top",
                "value":"sweep-to-top"
            },
            {
                "label":"Shutter out horizontal",
                "value":"shutter-out-horizontal"
            },
            {
                "label":"Outline",
                "value":"outline"
            },
            {
                "label":"Shadow",
                "value":"shadow"
            }
        ]
      },
      {
        "type": "select",
        "id": "btn_pos",
        "label": "Button position",
        "default": "t4s-text-center",
        "options": [
          {
            "value": "t4s-text-start",
            "label": "Left"
          },
          {
            "value": "t4s-text-center",
            "label": "Center"
          },
          {
            "value": "t4s-text-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "+ Collection filter"
      },
      {
        "type": "select",
        "id": "type_filters",
        "label": "Filters type",
        "default": "facets",
        "options": [
          {
            "value": "facets_tags",
            "label": "Filter by tags"
          },
          {
            "value": "facets",
            "label": "Filter by product options"
          }
        ]
      },
      {
        "type": "header",
        "content": "2. Design options"
      },
      {
        "type": "select","id": "layout","default": "t4s-container-wrap","label": "Layout",
        "options": [
            { "value": "t4s-se-container", "label": "Container"},
            { "value": "t4s-container-wrap", "label": "Wrapped container"},
            { "value": "t4s-container-fluid", "label": "Full width"}
        ]
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "cl_bg_gradient",
        "label": "Background gradient"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image"
      },
      {
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
          "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "+ Design mobile options"
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,50px,"
      }
    ],
    "blocks": [
      {
         "type": "sortby",
         "name": "Sortby",
         "limit": 1
       },
       {
         "type": "layout",
         "name": "Layout switch",
         "limit": 1,
         "settings": [
            {
              "type": "paragraph",
              "content": "Not working with layout masonry"
            }
          ]
       },
       {
         "type": "filter",
         "name": "Filter",
         "limit": 1,
         "settings": [
          ]
       }

    ],
    "default": {
      "blocks": [
          { "type": "filter"},
          { "type": "layout"},
          { "type": "sortby"}
        ]
    }
  }
{%- endschema -%}

