{{ 'section-results.css' | asset_url | stylesheet_tag }}

<div class="container">
  {%- if section.settings.title != blank -%}
    <h2 class="h1 h1--decor2">{{- section.settings.title -}}</h2>
  {%- endif -%}
  {%- if section.settings.title != blank -%}
    <p class="p section-results__text">{{- section.settings.text -}}</p>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="results-items-wrapper">
      <div class="results-items">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            <div class="swiper-slide">
              <div class="results-item">
                {%- if block.settings.img != blank -%}
                  <img
                    src="{{- block.settings.img | img_url: 'master' -}}"
                    alt=""
                    loading="lazy"
                  >
                {%- endif -%}
                {%- if block.settings.text -%}
                  <a href="{{- block.settings.url -}}">{{- block.settings.text -}}</a>
                {%- endif -%}
                {%- if block.settings.info -%}
                  <p class="results-item__text">{{- block.settings.info -}}</p>
                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
      <div class="slider-navigation-{{ section.id }} results-slider-nav">
        <div class="{{ section.id }}-prev swiper-button-prev slider-nav-prev">{% render 'slidearrow-left' %}</div>
        <div class="{{ section.id }}-next swiper-button-next slider-nav-next">{% render 'slidearrow-right' %}</div>
      </div>
    </div>
  {%- endif -%}
  {%- if section.settings.textBtn != blank or section.settings.url != blank -%}
    <a
      href="{{- section.settings.url -}}"
      class="section-results__link btn"
    >
      {{- section.settings.textBtn -}}
    </a>
  {%- endif -%}
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const mainSlides = new Swiper('.results-items', {
      direction: 'horizontal',
      slidesPerView: 3,
      spaceBetween: 30,
      loop: false,
      freeMode: false,
      autoHeight: true,
      navigation: {
        nextEl: '.{{ section.id }}-next',
        prevEl: '.{{ section.id }}-prev',
      },
      breakpoints: {
        0: {
          slidesPerView: 2,
          spaceBetween: 10,
        },

        1000: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
      },
    })
  })
</script>
{% schema %}
{
  "name": "Section Results",
  "class": "section-results",
  "tag": "section",
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "textBtn",
      "label": "Text Link"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "html",
          "id": "text",
          "label": "Text Link"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL Link"
        },
        {
          "type": "html",
          "id": "info",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section Results",
      "category": "Custom Section"
    }
  ]
}
{% endschema %}
