{{ 'section-products.css' | asset_url | stylesheet_tag }}
{{ 'collection-products.css' | asset_url | stylesheet_tag }}
{{ 'collection-products-custom.css' | asset_url | stylesheet_tag }}
{% assign collection = section.settings.collection %}


<div class="container">
    {%- if section.settings.title != blank -%}
        <h2 class="h1 h1--decor2">{{- section.settings.title -}}</h2>
    {%- endif -%}
    {%- if section.settings.title != blank -%}
        <p class="p">{{- section.settings.text -}}</p>
    {%- endif -%}
    <div class="ProductGridContainer" id="ProductGridContainer">
        <ul id="product-grid"  class="product-grid product-grid--js">
            {%- for product in collection.products -%}
              <li class="grid__item">
                {% render 'product-grid-item1', for collection.products as product,product:product %}
              </li>
            {%- endfor -%}
        </ul>
    </div>
    {%- if section.settings.textBtn != blank or section.settings.url != blank -%}
        <a href="{{- section.settings.url -}}" class="btn">{{- section.settings.textBtn -}}</a>
    {%- endif -%}
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
    $('.product-grid--js').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    prevArrow: `<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="prev" role="button">
        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 11L1.5 6L6.5 1" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>`,
nextArrow: `<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="next" role="button">
        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.5 11L6.5 6L1.5 1" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>          
      </button>`,
    dots: false,
    {% comment %} rtl: true, {% endcomment %}
    responsive: [

       {
         breakpoint: 1300,
         settings: {
           slidesToShow: 3,
           {% comment %} arrows: false, {% endcomment %}
           {% comment %} rtl: true {% endcomment %}
         }
       },
       {
         breakpoint: 950,
         settings: {
           slidesToShow: 2,
           dots: true,
            arrows: false,
         }
       }

     ]
 })
});
</script>


{% schema %}
    {
        "name": "Section Products",
        "class": "section-products",
        "tag": "section",
        "settings": [
            {
                "type": "html",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "html",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "collection"
            },
            {
                "type": "text",
                "id": "textBtn",
                "label": "Text Link"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Link"
            }
        ],
        "presets": [
            {
                "name": "Section Products",
                "category": "Custom Section"
            }
        ]
    }
{% endschema %}