{{ 'section-faq.css' | asset_url | stylesheet_tag }}

<div class="t4s-container {{section.settings.class}}">
  {%- if section.settings.title != blank -%}
    <h2 class="h1--decor2">{{ section.settings.title }}</h2>
  {%- endif -%}
  {%- for block in section.blocks -%}
    {%- if block.settings.question != blank -%}
      <div class="faq__wr">
        <div class="faq__content">
          <div class="faq__question">
            <span class="h6">{{- block.settings.question -}}</span>
            <svg
              width="13"
              height="7"
              viewBox="0 0 13 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 1L6.5 6L1 1"
                stroke=""
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
          {%- if block.settings.answer != blank -%}
            <div class="faq__answer">{{ block.settings.answer }}</div>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
<img
  src="https://cdn.shopify.com/s/files/1/0597/1551/8645/files/paw.png?v=1682359959"
  alt=""
  class="faq__decor1">
<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('.faq__question').on('click', function() {
      if (!$(this).hasClass('active')) {
        $(this)
          .next()
          .slideDown()
          $('.faq__question.active')
          .next()
          .slideUp()
        $('.faq__question.active')
        .removeClass('active')
      $(this)
      .addClass('active')
  } else {
    $(this).removeClass('active')
    $(this).next().slideUp()
  }
})})
</script>

{% schema %}
  {
    "name": "Faq",
    "class": "section-faq",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "text",
        "id": "class",
        "label": "Custom class"
      }
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "block",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          }, {
            "type": "html",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Faq"
      }
    ]
  }
{% endschema %}