{{ 'section-reviews.css' | asset_url | stylesheet_tag }}
<div class="container">
  {%- if section.settings.title != blank -%}
    <h2 class="h1 h1--decor2">{{- section.settings.title -}}</h2>
  {%- endif -%}
  {%- if section.settings.blog.articles.size > 0 -%}
    <div class="reviews-items">
      {%- for article in section.settings.blog.articles -%}
        <div class="reviews-slide">
          <div class="reviews-item">
            {%- if article.image.src != blank -%}
              <img
                src="{{ article.image.src | img_url: 'master' }}"
                alt="{{ article.title }}"
                loading="lazy"
              >
            {%- endif -%}
            <div class="reviews-item__body">
              <p class="reviews-item__date">
                {% render 'calendar' %}
                {{ article.published_at | date: '%d-%m-%Y' }}
              </p>
              {%- if article.title != blank -%}
                <a href="{{ article.url }}">
                  <h4>{{ article.title }}</h4>
                </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
  <a href="blogs/{{section.settings.blog}}" class="btn section-reviews__btn">View all posts</a>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    $('.reviews-items').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      prevArrow: `<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="prev" role="button">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.5 11L1.5 6L6.5 1" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>`,
      nextArrow: `<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="next" role="button">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.5 11L6.5 6L1.5 1" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>          
                  </button>`,
      dots: false,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 2,
          },
        },
        {
          breakpoint: 750,
          settings: {
            slidesToShow: 1,
            dots: true,
            arrows: false,
          },
        },
      ],
    })
  })
</script>
{% schema %}
{
  "name": "Section Blog",
  "class": "section-reviews",
  "tag": "section",
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    }
  ],
  "presets": [
    {
      "name": "Section Blog",
      "category": "Custom Section"
    }
  ]
}
{% endschema %}
